<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
</head>
<body>

<!-- Платежная форма
     Эти поля обязательные, их нельзя удалять. -->
    <form action="https://money.yandex.ru/eshop.xml" method="post">
    <input name="shopId" value="620973" type="hidden" required/>
    <input name="scid" value="1205910" type="hidden" required/>
    <input name="shopSuccessURL" value="http://широкоформатная-печать.москва{% url "pay:success" token=success_token %}" type="hidden" required/>
    <input name="shopFailURL" value="http://широкоформатная-печать.москва{% url "pay:error" %}" type="hidden" required/>
    <input name="shopDefaultUrl" value="http://широкоформатная-печать.москва{% url "main:basic" %}" type="hidden" required/>
    <input name="sum" value="{{ sum }}" type="hidden" required><br><br>

<!-- Поле name="customerNumber" обязательное, его нельзя удалять.
     По нему вы сможете понять, кто вам заплатил.
     Вы можете назвать это поле как угодно. Например, вместо "Имя покупателя" написать
     "Идентификатор плательщика", "Номер клиента", "Имя клиента" или "Номер заказа". -->
     <input type="hidden" required name="customerNumber" value="{{ order_id }}"/><br><br>

<!-- Эти поля можно убрать или переименовать.
     Например, вместо "Телефон покупателя" написать "Цвет глаз" или "Номер автомобиля".  -->

<!-- Кнопку "Заплатить" можно назвать как угодно.
     Например, "Оплатить подписку" или "Внести деньги"-->
     <input style="display: none" id="submit" type="submit" value="Заплатить">
     </form>
<script>
    document.getElementById("submit").click()
</script>

</body>
</html>