@charset "UTF-8";


$imagedir:'../img/'; // base images path
$fontdir:'../fonts/'; // base fonts path


@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


@mixin background($filename,$repeat: no-repeat) {
    background: transparent url(#{$imagedir}#{$filename}) $repeat;
    background-position: center center;
    background-size: cover;
}

@mixin font($fontname,$fontname-path) {
    @font-face {
        font-family: $fontname;
        src: url('#{$fontdir}#{$fontname-path}.eot');
        src: url('#{$fontdir}#{$fontname-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontdir}#{$fontname-path}.woff') format('woff'),
        url('#{$fontdir}#{$fontname-path}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}


@include font('Circe Extra Light', 'Circe-ExtraLight');
@include font('Circe Extra Bold', 'Circe-ExtraBold');
@include font('Circe Bold', 'Circe-Bold');
@include font('Circe Regular', 'Circe-Regular');
@include font('Circe Light', 'Circe-Light');

body{

  main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.req{
  width: 95%;
  max-width: 950px;
  background: #e4aebb;
  border-radius: 10px;
  margin-bottom: 15px;

      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .req__main-header{
    text-align: center;
    font-family: "Circe Regular", sans-serif;
    text-transform: uppercase;
        margin-top: 28px;
    font-size: 16px;
    color: black;
  }

  .req__body{
        width: calc(100% - 96px);
    margin-bottom: 12px;
    background: white;
    margin-top: 18px;
    border-radius: 10px;
    padding: 15px 36px 0 36px;
  }
  .req__text-header{
    text-align: center;
    font-family: "Circe Bold", sans-serif;
    font-size: 14px;
    line-height: 20px;

  }
  .black-header{
    color: black;
  }
  .pink-header{
    color: #DBA1AD;
    margin-top: 20px;
    line-height: 15px;
    margin-bottom: 12px;
  }
  .req__normal-p{
    font-family: "Circe Regular", sans-serif;
    font-size: 14px;
    color: #2B2A29;
    line-height: 15px;
    span{
      font-family: "Circe Extra Bold", sans-serif;
    }

  }
  .req__pink-text{
    color: #DBA1AD;
    font-family: "Circe Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    left: 21px;
    span{
      font-family: "Circe Extra Bold", sans-serif;
    }
  }
  .req__first-pink{
    margin-top: 8px;
  }
  .req__list{
    li{
      position: relative;
      left: 17px;
      font-size: 12px;
    color: #2B2A29;
    font-family: "Circe Light", sans-serif;
      font-weight: 700;
    }
    li::before{
      content: "";
      background: #DBA1AD;
      width: 4px;
      height: 4px;
      display: block;
      position: absolute;
      left: -13px;
      top: 6px;
      border-radius: 50%;
    }
  }
  .req__first-list{
    margin-top: 4px;
  }
  .after_h3{
    font-size: 14px;
    color: black;
    font-family: "Circe Light", sans-serif;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: -5px;
    margin-bottom: 5px;
  }

  .req__scheme-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 14px;
    .req__scheme{
      width: 100%;
      max-width: 413px;
      height: 176px;
      object-fit: contain;
    }
  }
  .req-tip{
    margin-top: 4px;
    margin-bottom: 12px;
    li{
      line-height: 17px;
    }
  }
  .tip-header{
    position: relative;
  }
  .tip-header::before{
    position: absolute;
    left: -18px;
    color: black;
    font-family: "Circe Bold", sans-serif;
    font-size: 16px;
    top: -2px;
  }
  .pink-1::before{
    content: '1';
  }
  .pink-2::before{
    content: '2';
  }

  .pink-3::before{
    content: '3';
  }




}

@media screen and (max-width:1000px){
  .req .req__scheme-container{
    justify-content: center;
    align-items: center;
  }
  .req .req__scheme-container .req__scheme{
    margin-top: 20px;
  }
}
@media screen and (max-width:800px){
  .req .req__body{
    width: calc(100% - 38px);
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px 10px 0 10px;
  }
  .req .req__main-header{
    margin-top: 12px;
    font-size: 15px;
  }
  .req .after_h3{
    top: 0;
    margin-bottom: 7px;
    line-height: 17px;
    margin-top: 7px;
  }
  .req .req__first-pink{
    left: 0;
    text-align: center;
  }
  .req .req__scheme-container{
    margin-top: 0;
  }
  .req .req__list li{
    width: calc(100% - 17px);
  }
  .req .tip-header{
    width: calc(100% - 21px);
  }
}

@media screen and (max-width:576px){

	.bars{
		display:block;
		font-size: 25px;
		font-weight: 900;
	}

	.top-header nav a{
		border:none;
	}

	.menu-collapse{
		display:flex;
		flex-direction: column;
	    width: 100%;
	    margin-left:auto;
	    flex-direction: column;
	    text-align: center;
	    border-top: 5px solid #000;
	}

	nav.menu-collapse{
		display:none;
	}

	.menu-bars .menu__item{
	padding: 15px 0;
	margin: 0;
	}

	.bot-header .container img {
   		 max-width: 110px;
	}

	.container{
		width: 460px;
	}
}

/*480-320*/
@media screen and (max-width:480px){

	.bot-header .container img {
   		 max-width: 80px;
	}

	.bot-header .container h1{
		font-size: 21px;
	}

	.container{
		width: 295px;
	}

	.f{
		width: 160px;
	}

	.radio-button .radio-boxs .radio-buttons{
		padding: 0px;
		width: 97px;
	}
	.box-c{
		padding: 10px 10px;
	}

}
