{% load staticfiles %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
  <meta name="description" content="{% block description %}{% endblock description %}">
  <meta name="fragment" content="!">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{% static 'base/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'base/css/base_style.css' %}">
  {% block style %}

  {% endblock style %}
  <script src="{% static 'base/js/jquery.js' %}"></script>
  <script src="{% static 'base/js/base.js' %}"></script>
  {% block script %}

  {% endblock script %}

  <link rel="shortcut icon" href="{% static 'base/img/favicon.png' %}" type="image/png">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="yandex-verification" content="4c251a0b67e8a6cc" />
</head>

<body>
  {% block head %}
  <header>
    <div class="top-header">
      <div class="container">
        <div class="" id="bars">
          <p class="bars"><i class="fas fa-bars"></i></p>
        </div>
        <nav class="menu-collapse menu-bars">
        <a href="https://вакуумная-формовка.москва">вакуумная-формовка.москва</a>
        <a href="https://3d-plakat.ru">3D плакаты</a>
          <a href="{% url 'single_pages:order_requirements' %}">Требования к макетам</a>
          <a href="{% url 'order_status:main' %}">Статус заказа</a>
          {% if user.is_authenticated %}
          <!-- <p>Добро пожаловать {{ user.get_full_name }}</p> -->
          <a href="{% url 'users_app:logout' %}">Выход</a>
          {% else %}
          <a href="{% url 'users_app:login' %}">Войти</a>
          {% endif %}

        </nav>
      </div>
    </div>
    <div class="bot-header">
      <div class="container">
        <a href="{% url 'main:basic' %}">
          <img src="{% static 'main/img/logo.png' %}" alt="logo">
        </a>
        <h1>Широкоформатная печать.москва</h1>
      </div>
    </div>
  </header>
  {% endblock head %}

  {{ yandex_counter|safe }}
  {% block content %}
  {% endblock content %}
</body>
