{% extends 'base/base.html' %}
    {% load staticfiles %}
    {% load mathfilters %}
    {% block title %}Требования к макетам{% endblock title %}
    {% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'requirements/style/requirements_style.css' %}">
{% endblock style %}


{% block content %}
<main>

    <div class="req">
        <h1 class="req__main-header">ТРЕБОВАНИЯ К МАКЕТАМ</h1>
        <div class="req__body">
            <h3 class="req__text-header black-header">Принимаем файлы для печати в формате: TIFF.</h3>
            <p class="after_h3">Файлы в других форматах принимаются только при оплате дополнительной услуги дизайнера для доработки макета (cdr, pdf, eps, ai, psd). </p>
            <p class="req__normal-p"><span>Наилучшее решение - </span>предоставлять макеты для широкоформатной печати в растровом формате TIFF, соблюдая указанные ниже требования. В TIFF-файле должны быть сведены все слои в один слой Background и должны быть удалены все дополнительные каналы и пути. В этом случае вы застрахованы от неожиданностей в процессе печати. В формат TIFF можно экспортировать ваш файл из большинства программ, в основном это CorelDraw, Illustrator, Photoshop.</p>
            <p class="req__pink-text req__first-pink">Оптимальным <span>разрешением файлов</span> для широкоформатной печати можно считать:</p>
            <ul class="req__list req__first-list">
                <li>в случае печати изображений с фотокачеством (интерьерная печать или формат 40х40см и меньше) — не менее 250-300 dpi;</li>
                <li>в случае печати изображений сити-формат (1,2×1,8м и больше) — не менее 75-150 dpi.</li>
            </ul>
            <div class="req__scheme-container">
                <img src="{% static 'requirements/img/shema_1.jpg'%}" alt="" class="req__scheme">
                <img src="{% static 'requirements/img/shema_2.jpg'%}" alt="" class="req__scheme">
            </div>
            <h3 id="" class="req__text-header pink-header">Если нужна помощь дизайнера в доработке макета, то соблюдение следующих требований<br>сократит время на доработку и уменьшит стоимость дополнительной услуги. </h3>
            <p class="req__pink-text tip-header pink-1">Требования к <span>Растровым</span> изображениям для широкоформатной печати</p>
            <ul class="req__list req-tip">
                <li>цветовая модель CMYK;</li>
                <li>слои необходимо свести в единый слой — Background, исключить альфа-каналы — Channels, пути — Paths и сжатие — LZV-compression;</li>
                <li>наиболее оптимальный объем файла — до 200 Мб;</li>
                <li>макеты для печати растровых изображений передаются в размере 1:1.</li>
            </ul>
            <p id="" class="req__pink-text tip-header pink-2">Требования к <span>Векторным</span> изображениям для широкоформатной печати</p>
            <ul class="req__list req__first-list req-tip">
                <li>цветовая модель CMYK;</li>
                <li>тексты, используемые в макете — переведены в кривые;</li>
                <li>элементы макета должны быть сгруппированы и находиться внутри макета для печати;</li>
                <li>контуры — обводки изображений и особенно шрифтов при толщиной более 2 мм нужно конвертировать в объекты. Все эффекты используемые в Corel Draw, во избежание некорректной печати, необходимо перевести в растр;</li>
                <li>в случае предоставления макета в уменьшенном формате например — 1:10, обязательно проверьте, чтобы в контурах была установлена опция — Scale with image (масштабировать с изображением).</li>
            </ul>
            <p id="" class="req__pink-text tip-header pink-3">Рекомендации профессионалов по подготовке файлов для <span>широкоформатной печати</span></p>
            <ul class="req__list req__first-list req-tip">
                <li>если у вас повышенное требование к каким либо конкретным (индексированным) цветам, и вы хотите обеспечить наиболее точную цветопередачу, то нужно указать цвет по Panton Process и процентное соотношение данного цвета в модели CMYK. Так же мы рекомендуем прикреплять к файлу макета цветовой профиль;</li>
                <li>если вы хотите получить черный цвет по-настоящему черным, а не темно серым, то черный цвет должен быть составным (C50,M50,Y50, K100);</li>
                <li>в случае если контуры макета белые или есть светлые поля, то необходимо сделать контур макета черного цвета толщиной 1 пиксель;</li>
                <li>не забывайте, что разрешение файла макета для широкоформатной печати и разрешение на выходе широкоформатного принтера (разрешение печати) — совершенно разные вещи;</li>
                <li>перед сдачей файла в печать обязательно проверьте его содержимое (изображение) в Photoshop;</li>
                <li>не допускайте большого масштабирования вставленных картинок в векторных программах, так как это неизменно повлияет на качество результата.</li>
            </ul>




        </div>
    </div>

</main>

{% endblock %}