@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body{
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/Circe-Light.eot');
    src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


main{
	width: 100%;
	display: flex;
 	justify-content: center;
 	align-items: center;
	height: 70vh;

}

main .container{

}

form{
	width: 100%;
}

#box-order{
	width: 100%;
	max-width: 380px;
	/*min-height: 420px;*/
	background: #e5afbc;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 20px 8px 8px 8px;
	display: flex;

 	align-items: flex-start;
 	flex-direction: column;
 	position: relative;
 	z-index: 8;
 	margin: auto;
}

#box-order h2{
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
}

.box-c{
	width: 100%;
	box-sizing: border-box;
	padding: 20px 30px 20px 30px;
	min-height: 200px;
	border-radius: 10px;
	background: #fff;
}

.flex-col{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

.flex-col .c{
	width: 100%;
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 14px;
	justify-content: space-between;
	color:#000;
	padding-bottom: 3px;
}

.flex-col .c .cc{
	display: flex;
	justify-content: center;
}

.flex-col .c .cc label{
	display: flex;
	align-items: center;
}

.flex-col .c .cc .radio{
	display: none;
}
.flex-col .c .cc .radio-custom {
	position: relative;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: 2px solid #e3e3e3;
	margin-left: 5px;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: #e4aebb;
	border-radius: 100%;
}
.flex-col .l{
	text-transform: lowercase;
	font-size: 10px;
}

.label-text{
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
	color: #a5acbe;
}

.label-text-b{
	margin-left: 10px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
	color: #000;
}

.flex-col .c label{
	color: #a5acbe;
	text-transform: uppercase;
	line-height: 1;
	font-size: 11px;
	letter-spacing: 0.1px;
	font-weight: 500;
}

.f {
	margin: 0;
	padding: 0;
	width: 210px;
	height: 36px;
	border-radius: 15px;
	border: 1.5px solid #e3e3e3;
	background: #f3f3f3;
	padding-left: 10px;
}

::-webkit-input-placeholder {color:#c3bebe;}
::-moz-placeholder          {color:#c3bebe;}/* Firefox 19+ */
:-moz-placeholder           {color:#c3bebe;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c3bebe;}

.flex-col .c label.o{
	position: relative;
	margin-left: 15px;
	font-size: 10px;
}

.flex-col .c .o::before{
	content: '*';
	display: block;
	position: absolute;
	left: -15px;
}

.flex-col .c{
	position: relative;
}

.icon-show{
	position: absolute;
	background: #fff;
	width: 34px;
	height: 36px;
	right: 0;
	border: 1px solid #e3e3e3;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	background-image: url('../img/icon-eye.jpg') ;
	background-size: 20px 20px ;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.send-button{
	margin: 10px auto;
}

.send-btn{
	display:block;
	text-transform: uppercase;
	width: 100px;
	padding: 12px 0px;
	background: #d4a5af;
	border-radius: 15px;
	text-decoration: none;
	color:#000;
	text-align: center;
	font-size: 13px;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
}


.d-block{
	display:flex !important;
}


.icon-bar{
	display: block;
	height: 4px;
	width: 90%;
	background: #000;
	position: absolute;
	top: 50%;
	border-radius: 2px;
}

.icon-bar::before{
	content: '';
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	top: 8px;
	background: #000;
	border-radius: 2px;
}

.icon-bar::after{
	content: '';
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	top: -8px;
	background: #000;
	border-radius: 2px;
}

.d-none{
	display: none !important;
}

.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}
.popup__main{
    height: 216px;
    width: 90%;
    max-width: 380px;
    border-radius: 7px;
    background: #e4aebb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.popup__header{
        text-align: center;
    margin-top: 25px;
    font-family: "Circe Regular", sans-serif;
    font-size: 16px;
}
.popup__body{
    background: white;
    border-radius: 7px;
    display: flex;
    height: 142px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.email_popup .popup__thing{
    margin-top: 25px;
}
.popup__text p{
    font-size: 13px;
    font-family: "Circe Regular", sans-serif;

}
.email_popup .popup__text p{
    margin-top: 9px;
}
.email_popup .popup__thing img{
    width: 70px;
}
.popup-shown{
    display: flex!important;
}
.popup-hidden{
    display: none;
}

.hint{
    position: absolute;
    padding: 6px;
    max-width: 190px;
    border-radius: 5px;
    border: 1px solid #d1d3d4;
    background: white;
    z-index: 98;
}
.password-hint p{
    font-family: "Circe Light", sans-serif;
    font-size: 10px;
    color: #2B2A29;

}
.password-hint{
    right: -217px;
}
.password-hint::before{
    position: absolute;
    content: '';
    display: block;
    background: white;
    border-left: 1px solid #d1d3d4;
    border-top: 1px solid #d1d3d4;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    left: -6px;
    bottom: 38px;
}
.hint-hidden{
    display: none;
}
.hint-showed{
    display: block;
}
/*-----Media Queries-----*/
/*992-1200*/
@media screen and (max-width: 1200px){

	.container{
		width: 930px;

	}

}

/*992-768*/
@media screen and (max-width:992px){
	.container{
		width: 720px;
	}
}

/*576-480*/
@media screen and (max-width:576px){






	.container{
		width: 460px;
	}
}

/*480-320*/
@media screen and (max-width:480px){


	.container{
		width: 295px;
	}

	.f{
		width: 160px;
	}

	.radio-button .radio-boxs .radio-buttons{
		padding: 0px;
		width: 97px;
	}
	.box-c{
		padding: 10px 10px;
	}

}
