{% load mathfilters %}
{% load staticfiles %}
<form method="post" action="#" id="book_form_id">
    {% csrf_token %}
    <div id="box-order" class="box-c">
        <div class="flex-col2">

            <div class="hc"><span>1</span>
                <h2>Контактная информация</h2></div>
            <div class="c zv" id="hid-n">
                <label for="name" class="o">Имя:</label>
                <input name="name" type="text" class="f input-size" placeholder="Имя Фамилия"
                       value="{{ user.get_full_name }}" required>
            </div>
            <div class="c zv" id="hid-ph">
                <label for="phone" class="o">Телефон:</label>
                <input name="phone" type="tel" class="f input-size" placeholder="+7 (123) 456 78 90" id="phone"
                       value="{{ user.userextend.phone }}" required>
            </div>
            <div class="c zv">
                <label for="email" class="o">E-MAIL:</label>
                <input name="email" type="email" class="f input-size" placeholder="vasha@pochta.ru" id="email"
                       value="{{ user.email }}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </div>
<div class="requisites">
  <h3>Реквизиты</h3>
  <div>
    <p>
      ООО "Интеллектуальные Системы"<br>
      ОГРН: 1185053019491<br>
      ИНН: 5015015263<br>
      КПП: 501501001<br>
      Юридический адрес: 143180, г. Звенигород, Нахабинское ш., д.1, корп. 1, к. 374<br>
      Банк: ПАО Сбербанк<br>
      БИК: 044525225<br>
      к/сч: 30101810400000000225<br>
      р/сч: 40702810840000063673<br>
    </p>
  </div>
</div>

        </div>

        <div class="flex-col2">
            <div class="hc"><span>2</span>
                <h2>Оформить доставку</h2></div>

            <div class="c jl">
                <div class="cc" id="tab-pickup">
                    <label>
                        <input onchange="total_sum()" class="radio" type="radio" name="f1" value="sizing" id="radio1"
                               checked>
                        <span class="radio-custom"></span>
                        <span class="label-text">самовывоз со склада</span>
                    </label>
                </div>
                <div class="cc" id="tab-delivery">
                    <label>
                        <input onchange="total_sum()" class="radio" type="radio" name="f1" value="grommet"
                               id="courier_delivery_checkbox">
                        <span class="radio-custom"></span>
                        <span class="label-text">доставка курьером</span>
                    </label>
                </div>
            </div>

            <div class="c bbr">
                <div class="b1">
                    <span class="upper">Адрес склада:</span>
                    <span>Москва,ул.Дербеневская,д.5А</span>
                    <span class="">+7(968)964-99-88</span>
                </div>
                <div class="form-r">
                    <label for="address" class="o zzz">Введите адрес доставки(номер дома,корпус,квартира и т.д.)</label>
                    <input name="address" type="text" class="f" placeholder="Москва,ул..." id="address" disabled>
                </div>
            </div>


            <div class="c">
                <div class="b1">
                    <span class="upper">Режим работы:</span>
                    <span><span class="dd">ПН-ПТ:</span>с 9:30 до 18:00</span>
                    <span><span class="dd">СБ-ВС:</span>выходные дни</span>
                </div>
                <div class="form-r">
                    <label for="address" class="o">Комментарий к заказу</label>
                    <textarea name="comments"
                              placeholder="Укажите номер дома, наличие документов на въезд, описание пути въезда и т.д."
                              class="f textarea"></textarea>
                </div>
            </div>


            <div class="c price-box">
                <label>Стоимость доставки:</label>
                <span id="DeliveryCost" class="price s">0</span><span>&#8381;</span>
            </div>
            <div class="c price-box">
                <label>итого за заказ с доставкой:</label>
                <span class="price total_s" id="total_price_of_orders_id">1000</span><span>&#8381;</span>
            </div>
            <div class="send-button2">
                <div name="button" class="send-btn" onclick="submit_form()">Перейти к оплате заказа</div>
                <!-- <a href="#" class="send-btn"></a> -->
            </div>
        </div>
    </div>
    <div class="box-mes">
        <span class="ms-t">Информация о заказе будет выслана на указанный выше e-mail:</span>
        <span class="ms zv">Поля, обезательные для заполнения</span>
    </div>
    <button id="submit_hidden_btn" type="submit" hidden></button>
</form>
<div class="popup redirect_popup popup-hidden">
    <div class="popup__main">
        <p class="popup__header">ОПЛАТА ЗАКАЗА</p>
        <div class="popup__body">
            <div class="popup__thing">
                <div class="windows8">
                    <div class="wBall" id="wBall_1">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_2">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_3">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_4">
                        <div class="wInnerBall"></div>
                    </div>
                    <div class="wBall" id="wBall_5">
                        <div class="wInnerBall"></div>
                    </div>
                </div>
            </div>
            <div class="popup__text">
                <p>Перенаправление на страницу оплаты...</p>
            </div>
        </div>

    </div>
</div>
<script>
  $('#phone').mask('+9 (999) 999 99 99')
          $( function() {
    $( ".requisites" ).accordion({
      collapsible: true,
      active: false
    });
  } );
</script>
