{% extends 'base/base.html' %}
{% load mathfilters %}
    {% load staticfiles %}
    {% load mathfilters %}
    {% block title %}Широкоформатная печать Москва{% endblock title %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'main/css/book.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock style %}
{% block script %}
    <script type="text/javascript" src="{% static 'main/js/axios.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery.maskedinput.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery-ui.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'main/js/main_script.js' %}" charset="UTF-8"></script>
{% endblock script %}
{% block content %}
<main>
    <div class="container ">
        <div class="form-boxs">
            <div class="tab-container ">
                <div id="tab-left" class="tab-left tab">
                    <div class="tab-left__title">Онлайн заказ на печать
                    </div>
                    <p class="tab-left__text">на пластике, самоклеющейся плёнке, бумаге, баннере, ткани</p>
                </div>
            </div>
            <div id="_appendHere2">
                {% block order_element %}{% endblock %}
            </div>
        </div>
        <div class="adder {{ condition }}">
            <div class="adding">
                <div class="adding__position">Добавить позицию к заказу</div>
                <a href="#" onclick="add_order_element_func(event)" class="adding__plus">+</a>
            </div>
        </div>
        {% include 'main/book.html' %}
    </div>
</main>

<!-- // scripts // -->

<script type="text/javascript">

    let CSRF = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    {#let URL_PREFIX = '{{ request.scheme }}' + '://' + '{{ request.META.HTTP_HOST }}' + '/';#}
    let SCHEMA = 'http'; //если будет использоваться https, то обязательно заменить 'https'
    let URL_PREFIX = SCHEMA + '://' + '{{ request.META.HTTP_HOST }}';
    let axios_instance = axios.create(
        {
            baseURL: URL_PREFIX,
            headers: {'X-CSRFToken': CSRF},
        }
    );


    function total_sum() {

        if ($('#courier_delivery_checkbox').prop('checked')) {
            $('#DeliveryCost').text('400')
        } else {
            $('#DeliveryCost').text('0')
        }
        let total_s = 0;
        let sums = document.getElementsByClassName('sum');



        for (let i = 0; i < sums.length; i++) {
            total_s += parseInt(sums[i].innerHTML)
        }
        let delivery = document.getElementsByClassName('s')[0].innerHTML;
        document.getElementsByClassName("total_s")[0].innerHTML = total_s + parseInt(delivery);
        console.log(total_s);
    }

    function get_order_element_count() {
        return document.getElementsByClassName('order-element').length
    }

    function scrollToLastElement() {
        let order_element_count = get_order_element_count();
        console.log(order_element_count);
        $('html, body').animate({
            scrollTop: $('.' + order_element_count.toString()).offset().top
        }, 'slow');
    }

    function get_orders_data(calculate) {
        let orders = $('#_appendHere2').find('form');
        let orders_data = [];
        orders.each(function (index, value) {
            let tmp = {};
            tmp['product_type'] = $(value).find('#type-of-advertising-medium').val();
            tmp['quantity'] = $(value).find('#count').val();
            tmp['edges'] = $(value).find('.edges').prop('checked');
            tmp['rings'] = $(value).find('.rings').prop('checked');
            tmp['pocket'] = $(value).find('[name="pocket"]').prop('checked');
            tmp['cord'] = $(value).find('[name="cord"]').prop('checked');
            tmp['dpi'] = $(value).find('.dpi-val:checked').val();
            let size_v = $(value).find('[name="size_v"]').val();
            tmp['size_v'] = size_v === '' ? 100 : size_v;
            let size_h = $(value).find('[name="size_h"]').val();
            tmp['size_h'] = size_h === '' ? 100 : size_h;
            tmp['design'] = $(value).find('[name="gender"]').prop('checked');
            tmp['total_price'] = $(value).find('#price_sum_id').text();
            if (calculate === undefined) {
                tmp['description'] = $(value).find('[name="description"]').val();
                tmp['file'] = $(value).find('[name="file"]').prop('files')[0];
            }
            orders_data.push(tmp)
        });
        return orders_data
    }

    function get_client_data() {
        let user_id = '{{ user.id }}';
        console.log(user_id, 'userid');
        let tmp = {};
        tmp['address'] = $(document).find('[name="address"]').val();
        tmp['comments'] = $(document).find('[name="comments"]').val();
        tmp['total_price_of_orders'] = $(document).find('#total_price_of_orders_id').text();
        console.log(tmp['total_price_of_orders']);
        tmp['delivery'] = $(document).find('#courier_delivery_checkbox').prop('checked');
        if (user_id === '' || user_id === 'None') {
            tmp['fullname'] = $(document).find('[name="name"]').val();
            tmp['phone'] = $(document).find('[name="phone"]').val();
            tmp['email'] = $(document).find('[name="email"]').val();
        }
        tmp['user'] = user_id;
        return tmp
    }

    function add_order_element_func() {
        event.preventDefault()
        let number_of_elements = get_order_element_count();
        let deferred = $.ajax({
            type: "GET",
            url: "{% url 'main:add_order_element' %}",
            data: {number_of_elements: number_of_elements},
            cache: true,
            success: function (data) {
                $("#_appendHere2").append(data);
                setTimeout(scrollToLastElement(number_of_elements.toString()), 50)
                total_sum();
            },
            error: function () {
                console.log('error')
            }
        })
    }

    function submit_form() {
      let ready_for_send = true;
      console.log('1')
      $('.order_form').each(function(i) {

                if (!$(this)[0].checkValidity()){
                  ready_for_send = false;
                  $(this).children('.submit-order').click()
                }
            });
      console.log('2')
      if(ready_for_send){
        if ($('#book_form_id')[0].checkValidity()) {
            let form_data = get_orders_data();
            let data_for_send = new FormData();
            data_for_send.append('orders_count', form_data.length);
            form_data.forEach((value, index) => {
                data_for_send.append(index, JSON.stringify(value))
                for (let key in value) {
                    if (key === 'file') {
                        data_for_send.append(key + index, value[key])
                    }
                }
            });
            console.log('3')
            $('.redirect_popup').fadeIn(300).removeClass('popup-hidden').addClass('popup-shown');
            data_for_send.append('client_data', JSON.stringify(get_client_data()));
            axios_instance.post("{% url 'main:submit_head_form' %}", data_for_send, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(
                response => {
                    if (response.data.result === 'USER_EXIST') {
                        alert('Пользователь с таким email существует. Пожалуйста авторизуйтесь')
                      $('.redirect_popup').fadeOut(300).addClass('popup-hidden').removeClass('popup-shown');

                    } else if (response.data.result === 'ERROR') {
                        alert('Ошибка при отправке данных')
                      $('.redirect_popup').fadeOut(300).addClass('popup-hidden').removeClass('popup-shown');
                    } else if (response.data.result === 'OK') {
                        let order_id = response.data.head_order_id;

                      setTimeout(function () {
                        location.href = '{% url 'pay:yandex_redirect' '0000' %}'.replace('0000', order_id);
                      }, 3000)

                    }
                });
        } else {
            $('#submit_hidden_btn').click()
        }
      }
    }

    //removing order form
    function delete_order_element_func(element_number) {
        document.getElementsByClassName(element_number)[0].remove();
        total_sum();
        scrollToLastElement()
    }

    function move(element_number, element) {

    }



    function verify_upload_file(file, order_number, element) {
        let elem = $('.inner-bar');
        let percent = $('.percent');
        let width = 1;
        const config = {

            onUploadProgress: function (progressEvent) {
                width = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                if (width >= 100) {
                    $('.upload_popup').fadeOut(300);
                    setTimeout(function () {
                        $('.upload_popup').removeClass('popup-shown');
                        if (element.prev().text() !== 'Выбрать файл...') {
                            element.parent().parent().addClass('active-upload')
                        } else {
                            element.parent().parent().removeClass('active-upload')
                        }
                        calculate_price(order_number);
                    }, 300)
                } else {

                    percent.text(width);
                    elem.css('width', width + '%')
                }
            },
        };
        let form_data = new FormData();
        form_data.append('file', file);
        $('.upload_popup').fadeIn(300).addClass('popup-shown');
        move(order_number, $(element));
        axios_instance.post(
            '{% url "main:verify_upload_file" %}',
            form_data,
            config,
            {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(
            response => {
                console.log(response);
                if (response.data.result === 'OK') {
                    ['size_h', 'size_v'].forEach(value => {
                        let size_input = $('#order_' + order_number).find(`[name="${value}"]`);
                        size_input.val(response.data[value]);
                        size_input.attr('disabled', true);
                    });
                } else if (response.data.result === 'ERROR') {
                    alert('Проверьте формат вложения');
                    console.log(response.data.exception)
                }
            })
    }

    function showFileName(input_id, div_id, order_number, element) {
        let file = document.getElementById(input_id).files[0];
        document.getElementById(div_id).textContent = file.name;
        verify_upload_file(file, order_number, $(element))
    }

    function openDialog(btn_id) {
        document.getElementById(btn_id).click();
    }


    function calculate_price(order_element_id) {
        console.log(order_element_id);
        let data = get_orders_data(true)[order_element_id - 1];
        let deferred2 = $.ajax({
            type: "GET",
            url: "{% url 'main:calculate_price' %}",
            data: data,
        });
        deferred2.done(function (response) {

            let response_arr = response.split('+');
            console.log(response_arr);
            $('.' + order_element_id + " .price").html(response_arr[0]);
            $('.' + order_element_id + " .price_square").html(response_arr[1]);
            $('.' + order_element_id + " .square").html(response_arr[2]);
            $('.' + order_element_id + " .size").html(response_arr[3]);
            $('.' + order_element_id + " .qty").html(response_arr[4]);
            $('.' + order_element_id + " .square_total").html(response_arr[5]);
            $('.' + order_element_id + " .edges").html(response_arr[6]);
            $('.' + order_element_id + " .rings").html(response_arr[7]);
            $('.' + order_element_id + " .type_media").html(response_arr[8]);
            $('.' + order_element_id + " .dpi-cost").html(response_arr[9]);
            total_sum();
        });
    }

    function value_check(order_element_id, element) {
        if ($(element).val().search(/[a-z]/) !== -1) {
            $(element).val(1);
        } else {

            if ($(element).val() > 10000) {
                $(element).val(10000)
            } else if ($(element).val() === '1' || $(element).val() < 1) {
                $(element).val(1)
            }
        }

        calculate_price(order_element_id)
    }

    let product_type = 1;

    function product_type_check(order_element_id, element) {
      let order_form = $('#order_' + order_element_id);
      console.log(order_form);
        let option = $(element).val();
        let option_1 = order_form.find('.rings_op');
        let option_2 = order_form.find('.edges_op');
        let dpi_360 = order_form.find('.dpi-360');
        let banner_op = order_form.find('.banner-options');
        let dpi_720_input = order_form.find('.dpi-720-input');
        if (option === 'banner_440' || option === 'banner_500' || option === 'banner_510') {
            product_type = 1;
            option_1.text('Проклейка краев:');
            option_2.html('Люверсы <span class="l">(с шагом 30 см):</span>');
            dpi_360.removeClass('hidden-dpi');
            order_form.find('.edges').attr('type', 'checkbox')
            order_form.find('.rings').attr('type', 'checkbox')
            banner_op.removeClass('hidden');
        } else if (option === 'vinyl_orajet' || option === 'vinyl_china') {
            product_type = 2;
            option_1.html('Матовая <span class="l">ламинация:</span>');
            order_form.find('.edges').attr('type', 'radio')
            option_2.html('Глянцевая <span class="l">ламинация:</span>')
            order_form.find('.rings').attr('type', 'radio')
            dpi_360.removeClass('hidden-dpi')
            banner_op.addClass('hidden');
            banner_op.find('input').prop('checked', false);
        } else {
            product_type = 3;
            option_1.text('Скругление углов');
            option_2.html('Тут будет <span class="l">еще одна опция:</span>')
            dpi_360.addClass('hidden-dpi')
          order_form.find('.edges').attr('type', 'checkbox')
            order_form.find('.rings').attr('type', 'checkbox')
          banner_op.addClass('hidden');
            dpi_720_input.prop('checked', true);
            banner_op.find('input').prop('checked', false);

        }


        calculate_price(order_element_id)
    }

    // Меню-Гамбургер

</script>

{% endblock content %}
