<form method="POST" class="{{ element_number }} order_form" id="order_{{ element_number }}">{% csrf_token %}
<button hidden class="submit-order" type="submit"></button>
    <div id="box-order" class="box-c order-element">
        <div class="flex-col">
            <div class="hc"><span>1</span>
                <h2>Выбрать тип и количество</h2></div>
            <div class="c">
                <label for="type-of-advertising-medium">Тип рекламного носителя:</label>
                <div class="box">
                    <!-- For calculation -->
                    <select name="product_type" id="type-of-advertising-medium" class="f"
                            onchange="product_type_check({{ element_number }}, this)">
                        <option value="banner_440">Баннер лам. 440 гр./кв.м.</option>
                        <option value="banner_500">Баннер лам. 500 гр./кв.м.</option>
                        <option value="banner_510">Баннер литой 510 гр./кв.м.</option>
                        <option value="vinyl_orajet">Пленка ORAJET, белая</option>
                        <option value="vinyl_china">Пленка Китай, белая</option>
                        <option value="pvc_3">Пластик ПВХ 3мм</option>
                        <option value="pvc_4">Пластик ПВХ 4мм</option>
                        <option value="pvc_5">Пластик ПВХ 5мм</option>
                        <option value="pvc_8">Пластик ПВХ 8мм</option>
                        <option value="pvc_10">Пластик ПВХ 10мм</option>
                    </select>
                </div>
            </div>
            <div class="c">

                <!-- For calculation -->
                <label for="count">Количество, шт:</label>
                <div class="box value-box">
                    <input required value="1" type="number" name="quantity" id="count" min="1" class="f hh value-input" placeholder="1"
                           onkeypress="return this.value.length < 5;" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" onchange="value_check({{ element_number }}, this)">
                </div>
            </div>
            <div name="check" class="c">
                <div class="cc">
                    <label>
                        <span class="label short-label op_1 edges_op">Проклейка краев:</span>
                        <!-- For calculation -->
                        <input class="radio edges" type="checkbox" name="check" value="sizing" id="{{ edges }}"
                               onchange="calculate_price({{ element_number }})">
                        <span class="radio-custom"></span>
                    </label>
                </div>
                <div class="cc">
                    <label>
                        <span class="label short-label op_2 rings_op">Люверсы <span class="l">(с шагом 30 см):</span></span>
                        <!-- For calculation -->
                        <input class="radio rings" type="checkbox" name="check" value="grommet" id="{{ rings }}"
                               onchange="calculate_price({{ element_number }})">

                        <span class="radio-custom"></span>
                    </label>
                </div>
            </div>

            <div name="check" class="c banner-options">
                <div class="cc">
                    <label>
                        <span class="label short-label op_1">Карман:</span>
                        <!-- For calculation -->
                        <input class="radio" type="checkbox" name="pocket" value="pocket"
                               onchange="calculate_price({{ element_number }})">
                        <span class="radio-custom"></span>
                    </label>
                </div>
                <div class="cc">
                    <label>
                        <span class="label short-label op_2">Усиление шнуром:</span>
                        <!-- For calculation -->
                        <input class="radio" type="checkbox" name="cord" value="cord"
                               onchange="calculate_price({{ element_number }})">

                        <span class="radio-custom"></span>
                    </label>
                </div>
            </div>

            <div class="hc"><span>2</span>
                <h2>Задать размер и качество печати</h2></div>
            <div class="c">
                <label for="size">Размер <span class="l">см:</span></label>
                <div class="bbbb-box">
                    <input required type="number" name="size_v" value="100" id="{{ size_v }}" min="1" class="f input-edit" placeholder="100 см"
                           onkeypress="return this.value.length < 5;" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" onchange="calculate_price({{ element_number }})">
                    <input required type="number" name="size_h" value="100" id="{{ size_h }}" min="1" class="f input-edit" placeholder="100 см"
                           onkeypress="return this.value.length < 5;" oninput="if(this.value.length>=5) { this.value = this.value.slice(0,5); }" onchange="calculate_price({{ element_number }})">
                </div>

            </div>

            <div class="c dpi-wrap" name="dpi">
    <div class="cc dpi-360">
        <label>
            <span class="label">360 dpi</span>
            <!-- For calculation -->
            <input checked class="radio dpi-val" type="radio" value="360 dpi" name="dpi"
                   onchange="calculate_price({{ element_number }})">
            <span class="radio-custom"></span>
        </label>
    </div>
    <div class="cc">
        <label>
            <span class="label">720 dpi</span>
            <input class="radio dpi-val dpi-720-input" type="radio" value="720 dpi" name="dpi"
                   onchange="calculate_price({{ element_number }})">
            <span class="radio-custom"></span>
        </label>
    </div>
    <div class="cc">
        <label>
            <span class="label">1440 dpi</span>
            <input class="radio dpi-val" type="radio" value="1440 dpi" name="dpi"
                   onchange="calculate_price({{ element_number }})">
            <span class="radio-custom"></span>
        </label>
    </div>
</div>

        </div>
        <div class="flex-col">
            <div class="hc"><span>3</span>
                <h2>Загрузить свой макет <span class="l1">(смотрите требования к макетам)</span></h2></div>
            <div class="c">
                <label for="upload-maket">Загрузить:</label>
                <div class="file_upload f hh1" id="upload-maket-btn"
                     onclick="openDialog('upload-maket{{ element_number }}')">

                    <div id="upload-maket-filename{{ element_number }}">Макет в формате: .tiff,.tif</div>
                    <input class="upload" id="upload-maket{{ element_number }}" name="file" type="file" placeholder=""
                           accept=".tiff,.tif"
                           onchange="showFileName('upload-maket{{ element_number }}', 'upload-maket-filename{{ element_number }}', '{{ element_number }}', this)">
                </div>
                <div class="file-before"></div>
            </div>


            <div class="pink">
      <span class="h3">
        Нужна помощь дизайнера в создании или доработке макета?
      </span>
                <div class="check-box">
                    <div class="cc">
                        <label>
                            <span class="label">Да</span>
                            <!-- For calculation -->
                            <input class="radio" type="radio" name="gender" value="sizing" id="{{ design }}"
                                   onchange="calculate_price({{ element_number }})">
                            <span class="radio-custom"></span>
                        </label>
                    </div>
                    <div class="cc">
                        <label>
                            <span class="label">Нет</span>
                            <input class="radio" type="radio" name="gender" value="grommet"
                                   onchange="calculate_price({{ element_number }})" checked>
                            <span class="radio-custom"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="hc"><span>4</span>
                <h2>Заказать дизайн</h2></div>
            <div class="c textarea-box">
                <textarea name="description" placeholder="Описание..." class="f textarea"></textarea>
            </div>
        </div>
        <div class="flex-col">
            <div class="hc"><span>5</span>
                <h2>Расчет стоимости</h2></div>
            <div class="b-t">
                <span class="type_media">Баннер 440гр.</span>, <span class="size">100x100</span> см, <span
                    class="square">1.0</span> кв.м., <span class="edges">без проклейки</span> по периметру, <span
                    class="rings">без люверсов</span>, <span class="qty">1</span>шт. <span class="dpi-cost">360 dpi</span>
                Всего площадь <span class="square_total">1.0</span> кв.м.
            </div>
            <div class="c price-box">
                <label>Стоимость:</label>
                <span class="price sum" id="price_sum_id">1000</span><span> &#8381;</span>
            </div>
            <div class="c price-box">
                <label>Цена за кв.м.:</label>
                <span class="price_square">1000</span><span> &#8381;</span>
            </div>
            {% ifnotequal element_number 1 %}
                <div class="send-button">
                    <a href="#" class="send-btn" onclick="delete_order_element_func({{ element_number }})">Удалить
                        заказ</a>
                </div>
            {% endifnotequal %}
        </div>
    </div>

</form>
<div class="popup upload_popup popup-hidden">
    <div class="popup__main">
        <div class="popup__close"></div>
        <p class="popup__header">ЗАГРУЗКА МАКЕТА</p>
        <div class="popup__body">
            <div class="popup__thing">
                <p><span class="percent">0</span> %</p>
                <div class="progress-bar">
                    <div class="inner-bar"></div>
                </div>

            </div>

        </div>

    </div>
</div>


<script>



  $('.upload').on('change', function () {

  });

  $('.file-before').on('click', function () {
    if($(this).prev().children('div').text() !== 'Выбрать файл...'){

      $(this).prev().children('div').text('Выбрать файл...');
      $(this).prev().children('input').val('');
      $(this).parent().removeClass('active-upload');
      let size_input = $('#order_' + {{ element_number }}).find(`.bbbb-box input`);
                        size_input.attr('disabled', false);
                        size_input.val('');
      calculate_price({{ element_number  }});
    }

  })



</script>
