{% extends 'base/base.html' %}
    {% load staticfiles %}
    {% load mathfilters %}
{% load filename %}
    {% block title %}Статус заказа{% endblock title %}
    {% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'order_status/css/status.css' %}">

    <style>
        .progress-main__bar::before {
            width: {{ percent }}%;
        }

        .progress-main__current-sum {
            left: {{ percent }}%;

        }

    </style>
{% endblock %}

{% block content %}
<main>

    {% if user.is_authenticated %}
    <div class="status">
        <h2 class="status__main-header">Совершайте заказы и получайте накопительную скидку на заказы от суммы
            совершенных заказов за последний год.</h2>
        <div class="status__progress">
            <h3><span>Ваш прогресс:</span><br>Итого заказано за год на сумму 28000 ₽</h3>
            <div class="progress-wrap">
            <div class="progress-main">
                <div class="progress-main__tips">
                    <div class="tips__sale sale-3">
                        <p>скидка <span>3%</span></p>
                        <p>30.000 &#8381;</p>
                    </div>
                    <div class="tips__sale sale-7">
                        <p>скидка <span>7%</span></p>
                        <p>100.000 &#8381;</p>
                    </div>
                    <div class="tips__sale sale-13">
                        <p>скидка <span>13%</span></p>
                        <p>300.000 &#8381;</p>
                    </div>
                </div>
                <div class="progress-main__bar"></div>

                <p class="progress-main__current-sum"><span> {{ total_price }} <b>&#8381;</b></span></p>
            </div>
                </div>
        </div>
        <div class="status__order-container">
            <h3 class="order__main-header">Текущие заказы</h3>
            <div class="order__scroll-wrap">
            <div class="status__order-wrap">

                <table class="status__order">
                    <tbody>
                    {% if active %}
                    <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span>{{ active.0.id }}</span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    <tr>
                        <td class="order__cell order__full-name">{{ active.0.get_product_type_display }}, {{ active.0.size_v }}x{{ active.0.size_h }} см</td>
                        <td class="order__cell order__file-name">{% if active.0.file %}{{ active.0.file | getfilename }}{% endif %}</td>
                        <td class="order__cell order__value">{{ active.0.quantity }} шт</td>
                        <td class="order__cell order__cost"><span>{{ active.0.total_price }} <b>&#8381;</b></span></td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                        {% else %}
                        <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span></span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                        {% endif %}
                    {% for order in active|slice:"1:" %}
                        <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span>{{ order.id }}</span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    <tr>
                        <td class="order__cell order__full-name">{{ order.get_product_type_display }}, {{ order.size_v }}x{{ order.size_h }} см</td>
                        <td class="order__cell order__file-name">{% if order.file %}{{ order.file | getfilename }}{% endif %}</td>
                        <td class="order__cell order__value">{{ order.quantity }} шт</td>
                        <td class="order__cell order__cost"><span>{{ order.total_price }} <b>&#8381;</b></span></td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
                </div>


        </div>


        <div class="status__order-container archive">
            <h3 class="order__main-header">Архивные заказы</h3>
            <div class="order__scroll-wrap">
            <div class="status__order-wrap">

                <table class="status__order">
                    <tbody>
                    {% if archive %}
                    <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span>{{ archive.0.id }}</span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    <tr>
                       <td class="order__cell order__full-name">{{ archive.0.get_product_type_display }}, {{ archive.0.size_v }}x{{ archive.0.size_h }} см</td>
                        <td class="order__cell order__file-name">{% if archive.0.file %}{{ archive.0.file | getfilename }}{% endif %}</td>
                        <td class="order__cell order__value">{{ archive.0.quantity }} шт</td>
                        <td class="order__cell order__cost"><span>{{ archive.0.total_price }} <b>&#8381;</b></span></td>
                        <td class="order__cell order__repeat"><div class="cell__repeat-btn"><p>Повторить</p></div></td>
                    </tr>
                        {% else %}
                        <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span></span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    {% endif %}

                    {% for order in archive|slice:"1:" %}
                    <tr>
                        <td class="order__cell order__num">ЗАКАЗ № <span>{{ order.id }}</span></td>
                        <td class="order__cell order__file-name column-name">Назввание макета:</td>
                        <td class="order__cell order__value column-name">Количество:</td>
                        <td class="order__cell order__cost column-name">Стоимость:</td>
                        <td class="order__cell order__repeat"></td>
                    </tr>
                    <tr>
                        <td class="order__cell order__full-name">{{ order.get_product_type_display }}, {{ order.size_v }}x{{ order.size_h }} см</td>
                        <td class="order__cell order__file-name">{% if order.file %}{{ order.file | getfilename }}{% endif %}</td>
                        <td class="order__cell order__value">{{ order.quantity }} шт</td>
                        <td class="order__cell order__cost"><span>{{ order.total_price }} <b>&#8381;</b></span></td>
                        <td class="order__cell order__repeat"><div class="cell__repeat-btn"><p>Повторить</p></div></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>


        </div>
    </div>
{% else %}

        <p class="auth-msg">Авторизуйтесь</p>

{% endif %}
</main>

{% endblock content %}