{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
    @font-face {
        font-family: 'Circe Regular';
        src: url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-Regular.eot");
        src: url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-Regular.eot?#iefix") format('embedded-opentype'),
        url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-Regular.woff") format('woff'),
        url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-Regular.ttf") format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circe ExtraBold';
        src: url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-ExtraBold.eot");
        src: url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-ExtraBold.eot?#iefix") format('embedded-opentype'),
        url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-ExtraBold.woff") format('woff'),
        url("http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/fonts/Circe-ExtraBold.ttf") format('truetype');
        font-weight: normal;
        font-style: normal;
    }
</style >
</head>
<body style="margin: 0; padding: 0;">
<table bgcolor="#e4aebb" align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border-collapse: collapse; max-width: 700px">
    <tr>
        <td align="center" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="96%" style="border-collapse: collapse; min-width: 250px">
                <tr>
                    <td style="color:#2B2A29; font-family: 'Circe Regular', sans-serif; font-size: 18px;" align="center" height="70" width="100%">
                        ПОДТВЕРДИТЕ СВОЙ E-MAIL
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" style="border-top-left-radius: 20px; border-top-right-radius: 20px;" align="center" height="50" width="100%"></td>
                </tr>
                <tr>
                    <td align="center" bgcolor="white" width="100%" height="80">

                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" style="color:#2B2A29; font-family: 'Circe Regular', sans-serif; font-size: 14px;" align="center" height="70" width="100%">
                        Вы указали эту почту при регистрации на сайте<br>
                        широкоформатная-печать.москва
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="40" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" style="color:#2B2A29" align="center" height="50" width="100%">
                        <a href="{{ activation_link }}" style="background: #DBA1AD; color:#2B2A29; padding: 8px; text-decoration: none; border-radius: 8px; font-family: 'Circe ExtraBold', sans-serif; font-size: 14px ">ПОДТВЕРДИТЬ</a>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" bgcolor="white" align="center" height="60" width="100%"></td>
                </tr>
                <tr>
                    <td align="center" height="30" width="100%"></td>
                </tr>
                <tr>
                    <td style="color:white; font-family: 'Circe ExtraBold', sans-serif; font-size: 24px" align="center" height="50" width="100%">
                        НАШИ ПРОЕКТЫ
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" style="border-top-left-radius: 20px; border-top-right-radius: 20px;" align="center" height="20" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%">
                        <img style="width: 95%; max-width: 317px" src="http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/img/1.png" alt="Вакуумна формовка">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%">
                        <img style="width: 95%; max-width: 317px" src="http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/img/2.png" alt="3D Плакаты">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%">
                        <img style="width: 95%; max-width: 317px" src="http://xn----7sbabyooqkgbasee8agy1ed7htc.xn--80adxhks/static/mails/img/3.png" alt="REGRAY">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="40" width="100%"></td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="20" width="100%">
                        <a style="color: black; font-family: 'Circe Regular', sans-serif; font-size: 12px" href="{{ unsubscribe }}">Отписать email {{ email }} от рассылки</a>
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;" bgcolor="white" align="center" height="60" width="100%"></td>
                </tr>

            </table>
        </td>
    </tr>

</table>
</body>
</html>