@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


main{
	width: 100%;
	display: flex;
 	justify-content: center;
 	align-items: center;
	height: 70vh;

}

main .container{

}

form{
	width: 100%;
	position: relative;
}

.f{
	outline: none;
	color: #000;
}

.tab-container{
	width: 100%;
	display:flex;
	justify-content: center;
	z-index: 1;
}
.tab{
	text-align: center;
	width:49.5%;
	height: 60px;
	border-radius: 20px 20px 0 0px;
	background: #fff;
	padding-top: 12px;
	box-sizing:border-box;
	margin-bottom: -15px;
	z-index: 10;

}
.tab-left__title{
	font-size: 18px;
	text-transform: uppercase;
}

.tab-left__text{
	font-size: 14px;
	color: #d4a5af;
	font-weight: 300;
	margin-top:6px;
}

.tab-right__title{
	font-size: 18px;
	text-transform: uppercase;
}

.tab.hidden{
	background: #d4a5af;
	z-index: 5;
}

.hidden .tab-left__text{
	color:#000;
}

.d-none{
	display: none !important;
}


.box-c{
	width: 100%;
	min-width: 1080px;
	position: relative;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	border-radius: 20px;
	padding: 20px 30px 30px 30px;
	display: flex;
 	justify-content: center;
 	align-items: flex-start;
 	position: relative;
 	z-index: 8;
}
.flex-col2{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 80px;
	max-width: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.flex-col2:last-child{
	flex-shrink: 2;
	max-width: 600px;
	padding-right: 0;
}
.flex-col2 .c{
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 20px;
	margin-top: 6px;

	justify-content: space-between;
	color:#000;
	padding-bottom: 3px;
}


.flex-col2 .hc{
	width: 100%;
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-col2 .hc h2{
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.01em
}

.flex-col2 .hc span{
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	color: #e4aebb;
}

.flex-col2 .c label{
	position: relative;
	color: #a5acbe;
	text-transform: uppercase;
	line-height: 1;
	font-size: 11px;
	letter-spacing: 0.1px;
	font-weight: 500;
}

.box{
	position: relative;
}
.flex-col2 .c .box select {
	-webkit-appearance: button;
	outline: none;
}

.radio-button>label{
	margin: 0
}

.f {
	margin: 0;
	padding: 0;
	width: 210px;
	height: 40px;
	border-radius: 15px;
	border: 1.5px solid #e3e3e3;
	background: #f3f3f3;
	padding-left: 10px;
}
.box:before{
	content: '▼';
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	pointer-events: none;
}
.hh{
	width: 160px;
}

.hh1{
	width: 300px;
}

.flex-col2 .c .cc{
	display: flex;
	justify-content: center;
}

.flex-col2 .c .cc label{
	display: flex;
	align-items: center;
}

.flex-col2 .c .cc .radio{
	display: none;
}
.flex-col2 .c .cc .radio-custom {
	position: relative;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: 2px solid #e3e3e3;
	margin-left: 5px;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: #e4aebb;
	border-radius: 100%;
}
.flex-col2 .l{
	text-transform: lowercase;
	font-size: 10px;
	/*color: #a5acbe;*/
}

.c{
	outline: none
}

.form-boxs{
	min-width: 1080px;
	letter-spacing: 0.02em;
}


.radio-button .radio-boxs .radio-buttons{
	display: inline-block;
	width: 113px;
	height: 43px;
	background: #f3f3f3;
	border: 1.5px solid #e3e3e3;
	padding: 0 10px;
	box-sizing:border-box;
	font-size: 10px;
	line-height: 3.7em;
}

.radio1-btn{
	margin-right: -7px ;
	border-radius: 15px 0 0 15px;
}
.radio2-btn{
	border-radius: 0 15px 15px 0;
}

[name="orientation-type"]:checked + .radio-buttons{
	background: #fff;
	color: #000;
	font-weight: bold;
}

.radio1, .radio2{
	 display: none;
}

.c.textarea-box{
	height: 100%;
	margin-top: 0px;
	color:#000;

}
.input-size{
	color:#000;
}

.textarea{
	height: 68px;
	line-height: 1.5em;
	vertical-align: top;
	outline: none;
	color:#000;
	width: 100%;
	resize: none;
	padding-top:10px;
}


::-webkit-input-placeholder {color:#c3bebe;}
::-moz-placeholder          {color:#c3bebe;}/* Firefox 19+ */
:-moz-placeholder           {color:#c3bebe;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c3bebe;}


textarea::-webkit-input-placeholder {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

textarea:-moz-placeholder { /* Firefox 18- */
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
 	line-height: 1;
 	font-family: 'Roboto', sans-serif;
 	font-size: 12px;
}

textarea:-ms-input-placeholder {
 	line-height: 1;
 	font-family: 'Roboto', sans-serif;
 	font-size: 12px;
}

textarea::placeholder {
 	line-height: 1;
 	font-family: 'Roboto', sans-serif;
 	font-size: 12px;
}


.file_upload{
	position: relative;
	margin-left: 10px;
}

.flex-col .c .file_upload input[type=file]{
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.file_upload:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: #FFF;
	background-image: url(upload_icon.png) ;
	background-size: 30px 30px ;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 2px solid #e3e3e3;
	border-radius: 0 15px 15px 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	pointer-events: none;
}
.flex-col .c .file_upload div{
	color: #000;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.flex-col .pink{
	width: 100%;
	display: flex;
	flex-direction: column;

}
.flex-col .pink span{
	color: #d4a5af;
	font-size: 14px;
	font-weight: 500;
}
.flex-col .pink .h3{
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0px;
}

.flex-col .pink .check-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	height: 40px;
}

.flex-col .pink .cc:first-child{
	margin-right: 30px;
}

.flex-col .pink .check-box .cc .radio{
	display: none;
}
.flex-col .pink .check-box .cc .radio-custom{
	position: relative;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: 2px solid #e3e3e3;
	margin-left: 5px;
}


.flex-col .pink .check-box .cc label{
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.flex-col .c input[type=textarea]{
	display: block;
	width: 100%;
}

.flex-col .b-t{
	font-size: 10px;
	font-weight: 700;
}

.flex-col .hc span.l1{
	color: #2b2a28;
	font-weight: 400;
	font-size: 10px;
	text-transform: lowercase;
}
.price{
	display: inline-block;
	width: 80px;
	font-weight: bold;
	font-size: 22px;
	line-height: 1;
	letter-spacing: 0.00em
}

.c.price-box{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.c.price-box label{
	margin-right: 10px;
}

.c.price-box .price.s{
	font-size: 14px;
	font-weight: 400;
}

.send-button2{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.send-btn{
	display:block;
	text-transform: uppercase;
	min-width: 170px;
	padding: 12px 16px;
	background: #d4a5af;
	border-radius: 15px;
	text-decoration: none;
	color:#000;
	text-align: center;
	font-size: 13px;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
}


select{
	outline: none;
}

.d-block{
	display:flex !important;
}



.zv{
	margin-left: 18px;
}

.zv::before{
	content: '*';
	display: block;
	position: absolute;
	left: 44px;
	font-size: 10px;
	color: #d4a5af;
}

.jl{
	justify-content: flex-start !important;
}

.jl .label-text{
	margin-left: 10px;
	color: #2b2a28;
	font-weight: 400;
	font-size: 10px;
}

.jl .cc{
	margin-right: 30px;
}

.c .b1{
	display: flex;
	flex-direction: column;
	min-width: 200px;
	font-size: 11px;
	font-weight: 400;
}
.c .b1 .upper{
	text-transform: uppercase;
}
.c .b1 span{
	margin-bottom: 2px;
}

.form-r{
	width: 400px;
	box-sizing: border-box;
}

.form-r .f{
	box-sizing: border-box;
	width: 100%;
}

.dd{
	display: inline-block;
	width: 40px;

}

.zzz::before{
	content: '*';
	display: block;
	position: absolute;
	left: -10px;
	font-size: 10px;
	color: #d4a5af;
}

.box-mes{
	position: absolute;
	bottom: 20px;
	left: 40px;
	z-index: 9;
	display: flex;
	flex-direction: column;
}

.box-mes .ms-t{
	font-size: 12px;
}

.box-mes .ms{
	margin-top: 4px;
	margin-left: 18px;
	font-size: 11px;
	color: #a5acbe;
}


.ms::before{
	content: '*';
	display: block;
	position: absolute;
	left: 0;
	font-size: 10px;
	color: #d4a5af;
}




/*-----Media Queries-----*/
/*992-1200*/
@media screen and (max-width: 1200px) {

    .container {
        width: 930px;
        padding: 0px 0px;
    }

    .form-boxs {
        margin: 0 auto;
        min-width: 920px;
    }

    .box-c {
        min-width: 920px;
        padding: 20px 15px 30px 10px;
    }

    .flex-col {
        padding-left: 18px;
        padding-right: 20px;
    }

    .f option {
        font-size: 11px;
        width: 190px;
    }

    .radio-button .radio-boxs .radio-buttons {
        width: 105px;
        padding: 0 5px;
    }

    .f {
        width: 190px;
    }

    .f.textarea {
        height: 115px;
        width: 100%;

    }
}
/*992-768*/
@media screen and (max-width:992px){
	.box-c{
		display: flex;
		flex-direction: column;
		min-width: 710px;
		padding-left: 15px;
	}

	.container{
		width: 720px;
	}

	.form-boxs{
		margin: 0 auto;
		min-width: 710px;
	}

	.send-button2 {
   		margin-top: 10px;
   		margin-bottom: 40px;
	}

	.tab-left{
		padding-top: 20px;
	}
}

/*576-480*/
@media screen and (max-width:576px){

	.tab-right__title, .tab-left__title{
		font-size: 16px;
	}

	.box-c{
		display: flex;
		flex-direction: column;
		min-width: 440px;
		padding-left: 15px;
        align-items: center;
	}

	.container{
		width: 460px;
	}

	.form-boxs{
		margin: 0 auto;
		min-width: 440px;
	}

	.tab{
		padding: 15px 20px 0;
		font-size: 20px;
	}

	.tab-left__text{
		display: none;
	}
    .flex-col2{
        padding-right: 0;
        align-items: center;
    }
    .zv{
        margin-left: 0;
    }
    .flex-col2 .c{
        flex-direction: column;
        align-items: center;
        width: 88%;

    }
    .zv::before{
        display: none;
    }
    .zv .f{
        left: 0;
    }
    .flex-col2 .c label{
        margin-bottom: 5px;
    }
    .zzz::before{
        display: none;
    }
    .flex-col2 .c label{
        text-align: center;
        line-height: 15px;
    }
    .flex-col2 .form-r{
            width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .c .b1 {
    text-align: center;
    margin-bottom: 12px;
}
.f.textarea{
    padding: 10px;
}
.box-mes .ms{
    display: none;
}
.flex-col2 .c.price-box{
    justify-content: flex-start;
}



}

