@charset "UTF-8";
@font-face {
  font-family: "Circe Extra Light";
  src: url("../fonts/Circe-ExtraLight.eot");
  src: url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Extra Bold";
  src: url("../fonts/Circe-ExtraBold.eot");
  src: url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Bold";
  src: url("../fonts/Circe-Bold.eot");
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Regular";
  src: url("../fonts/Circe-Regular.eot");
  src: url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham Regular";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Light";
  src: url("../fonts/Circe-Light.eot");
  src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.status {
  width: 95%;
  max-width: 950px;
  background: #e4aebb;
  border-radius: 10px;
  margin-top: -13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }
  .status .status__main-header {
    font-size: 12px;
    text-align: center;
    font-family: "Circe Light", sans-serif;
    color: #2B2A29;
    font-weight: 700;
    margin-top: 20px; }
  .status .status__progress {
    width: 90%;
    max-width: 820px;
    margin-bottom: -1px;
    position: relative; }
    .status .status__progress:after {
      content: "";
      display: block;
      position: absolute;
      content: '1 ГОД';
      color: white;
      font-family: "Circe Bold", sans-serif;
      font-size: 8px;
      right: -29px;
      bottom: 59px; }
    .status .status__progress > h3 {
      text-align: center;
      color: #2B2A29;
      font-family: "Circe Bold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 3px; }
      .status .status__progress > h3 span {
        color: white; }
  .status .progress-main {
    position: relative;
    margin-top: -4px;
    height: 125px; }
  .status .progress-wrap {
    width: 100%; }
  .status .progress-main__bar {
    width: 100%;
    background: white;
    height: 38px;
    border-radius: 19px;
    position: relative;
    top: -4px; }
  .status .progress-main__tips {
    width: 100%;
    position: relative;
    height: 45px; }
  .status .tips__sale {
    position: absolute;
    left: 20px;
    top: 0; }
    .status .tips__sale > p:nth-child(1) {
      font-size: 9px;
      font-family: "Circe Extra Bold", sans-serif;
      color: #2B2A29;
      text-align: center;
      text-transform: uppercase; }
      .status .tips__sale > p:nth-child(1) span {
        font-size: 13px; }
    .status .tips__sale > p:nth-child(2) {
      font-size: 11px;
      font-family: "Circe Regular", sans-serif;
      color: white;
      text-align: center;
      position: relative;
      top: -4px; }
      .status .tips__sale > p:nth-child(2):before {
        position: absolute;
        display: block;
        background: transparent url(../img/down-arrow.svg) no-repeat;
        background-position: center center;
        background-size: cover;
        content: '';
        width: 8px;
        height: 8px;
        left: calc(50% - 4px);
        bottom: -6px; }
      .status .tips__sale > p:nth-child(2):after {
        border-right: 1px dotted #d1d3d4;
        content: '';
        position: absolute;
        height: 38px;
        bottom: -48px;
        z-index: 2;
        left: 50%; }
  .status .sale-3 {
    left: 3.2%; }
  .status .sale-7 {
    left: 19.7%; }
  .status .sale-13 {
    left: 65.9%; }
  .status .progress-main__bar::before {
    position: absolute;
    display: block;
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background: #c85e85;
    border-radius: 19px 0 0 19px;
    content: ''; }
  .status .progress-main__current-sum {
    position: absolute;
    white-space: nowrap;
    text-align: center; }
    .status .progress-main__current-sum span {
      position: relative;
      left: -50%;
      font-family: 'Gotham Bold', sans-serif;
      font-size: 18px;
      color: black;
      top: 9px;
      font-weight: 800; }
      .status .progress-main__current-sum span:before {
        content: "";
        display: block;
        position: absolute;
        background: transparent url(../img/down-arrow-black.svg) no-repeat;
        background-position: center center;
        background-size: cover;
        transform: rotate(180deg);
        width: 8px;
        height: 8px;
        left: calc(50% - 4px);
        top: -9px; }
      .status .progress-main__current-sum span b {
        font-weight: 100; }
  .status .status__order-container {
    width: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 27px; }
  .status .status__order-wrap {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 18px 30px;
    margin-top: 19px; }
    .status .status__order-wrap hr {
      display: none; }
  .status .order__main-header {
    font-size: 16px;
    color: #2B2A29;
    font-family: "Circe Regular", sans-serif;
    text-transform: uppercase; }
  .status .order__scroll-wrap {
    width: 107%;
    display: flex; }
  .status .status__order {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 8px; }
    .status .status__order .order__cell {
      text-align: center;
      padding-bottom: 11px; }
    .status .status__order > tbody > tr:nth-child(2n) {
      border-bottom: 2px solid #d1d3d4; }
    .status .status__order > tbody > tr:nth-child(2n+1) .order__cell {
      padding-top: 17px; }
    .status .status__order > tbody > tr:last-child {
      border-bottom: none; }
    .status .status__order > tbody > tr:last-child .order__cell {
      padding-bottom: 0; }
    .status .status__order > tbody > tr:first-child .order__cell {
      padding-top: 0; }
    .status .status__order .order__num, .status .status__order .order__full-name {
      width: 44.5%;
      text-align: left; }
    .status .status__order .order__file-name {
      width: 16%; }
    .status .status__order .order__value {
      width: 12.5%; }
    .status .status__order .order__cost {
      width: 10%; }
    .status .status__order .order__repeat {
      width: 33%;
      position: relative; }
    .status .status__order .order__num {
      font-family: "Circe Regular", sans-serif;
      color: #2B2A29;
      font-size: 12px;
      font-weight: 800; }
      .status .status__order .order__num span {
        color: #E4AFBA;
        font-size: 13px; }
    .status .status__order .order__file-name, .status .status__order .order__value, .status .status__order .order__full-name {
      font-family: "Circe Regular", sans-serif;
      color: #2B2A29;
      font-size: 14px; }
    .status .status__order .order__cost {
      font-family: "Gotham Bold", sans-serif;
      color: #2B2A29;
      font-size: 19px;
      font-weight: 800; }
      .status .status__order .order__cost span {
        position: relative;
        top: -3px;
        white-space: nowrap; }
      .status .status__order .order__cost b {
        font-size: 15px; }
    .status .status__order .column-name {
      font-family: "Circe Bold", sans-serif;
      font-size: 8px;
      text-transform: uppercase;
      color: #A5ACBD; }
    .status .status__order .cell__repeat-btn {
      width: 100%;
      max-width: 100px;
      height: 33px;
      background: #e4aebb;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      position: absolute;
      top: -10px;
      left: calc(50% - 50px); }
      .status .status__order .cell__repeat-btn p {
        font-size: 11px;
        font-family: "Circe Bold", sans-serif;
        font-color: #2B2A29;
        text-transform: uppercase; }
  .status .archive {
    margin-bottom: 14px; }

.auth-msg {
  font-size: 20px;
  font-family: "Circe Bold", sans-serif;
  color: black; }

@media screen and (max-width: 900px) {
  .status .status__order .order__num, .status .status__order .order__full-name {
    width: 28.5%; }

  .status .status__order .order__file-name {
    width: 20%; }

  .status .status__order .order__value {
    width: 16.5%; }

  .status .status__order .order__cost {
    width: 14%; }

  .status .status__order .order__repeat {
    width: 37%; }

  .status .status__order .cell__repeat-btn {
    top: 0; }

  .status .order__scroll-wrap {
    display: block;
    overflow-x: scroll;
    width: 100%;
    border-radius: 10px;
    margin-top: 19px; }

  .status .status__order-wrap {
    min-width: 570px;
    border-radius: 0;
    margin-top: 0; }

  .status .status__order-container {
    width: calc(100% - 23px); }

  .status .progress-main__current-sum span {
    font-size: 12px; }

  .status .status__main-header {
    font-size: 13px; }

  .status .status__progress > h3 {
    font-size: 13px; }

  .status .progress-main {
    margin-top: 15px;
    min-width: 600px;
    height: 125px; }

  .status .tips__sale > p:nth-child(2) {
    top: 0; }

  .status .status__progress:after {
    display: none; }

  .status .progress-wrap {
    overflow-x: auto;
    overflow-y: hidden; } }

/*# sourceMappingURL=status.css.map */
