@font-face {
  font-family: "Circe Extra Light";
  src: url("fonts/Circe-ExtraLight.eot");
  src: url("fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/Circe-ExtraLight.woff") format("woff"), url("fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Extra Bold";
  src: url("fonts/Circe-ExtraBold.eot");
  src: url("fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/Circe-ExtraBold.woff") format("woff"), url("fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Bold";
  src: url("fonts/Circe-Bold.eot");
  src: url("fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Circe-Bold.woff") format("woff"), url("fonts/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Regular";
  src: url("fonts/Circe-Regular.eot");
  src: url("fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Circe-Regular.woff") format("woff"), url("fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Circe Light";
  src: url("fonts/Circe-Light.eot");
  src: url("fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Circe-Light.woff") format("woff"), url("fonts/Circe-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hidden {
  display: none !important; }

.container {
  width: 1024px;
  height: 100%;
  margin: 0 auto; }

.top-header {
  width: 100%;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center; }

.top-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.top-header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2a28;
  font-weight: 500;
  font-size: 14px;
  margin: 12px 0;
  padding: 3px 15px;
  letter-spacing: 0.1px;
  border-left: 2px solid #e3e3e3;
  font-family: "Circe Bold", sans-serif; }

.top-header nav a:first-child {
  border-left: none; }

.top-header nav a:last-child {
  padding-right: 0; }

.bot-header {
  width: 100%;
  background: #383733;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

.bars {
  display: none; }

.bot-header .container {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: row; }

.bot-header .container img {
  max-width: 120px; }

.bot-header .container h1 {
  color: #fdfdfb;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  margin-left: 10px;
  font-family: "Circe Extra Light", sans-serif; }

body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.req {
  width: 95%;
  max-width: 950px;
  background: #e4aebb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .req .req__main-header {
    text-align: center;
    font-family: "Circe Regular", sans-serif;
    text-transform: uppercase;
    margin-top: 28px;
    font-size: 16px;
    color: black; }
  .req .req__body {
    width: calc(100% - 96px);
    margin-bottom: 12px;
    background: white;
    margin-top: 18px;
    border-radius: 10px;
    padding: 15px 36px 0 36px; }
  .req .req__text-header {
    text-align: center;
    font-family: "Circe Bold", sans-serif;
    font-size: 14px;
    line-height: 20px; }
  .req .black-header {
    color: black; }
  .req .pink-header {
    color: #DBA1AD;
    margin-top: 20px;
    line-height: 15px;
    margin-bottom: 12px; }
  .req .req__normal-p {
    font-family: "Circe Regular", sans-serif;
    font-size: 14px;
    color: #2B2A29;
    line-height: 15px; }
    .req .req__normal-p span {
      font-family: "Circe Extra Bold", sans-serif; }
  .req .req__pink-text {
    color: #DBA1AD;
    font-family: "Circe Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    left: 21px; }
    .req .req__pink-text span {
      font-family: "Circe Extra Bold", sans-serif; }
  .req .req__first-pink {
    margin-top: 8px; }
  .req .req__list li {
    position: relative;
    left: 17px;
    font-size: 12px;
    color: #2B2A29;
    font-family: "Circe Light", sans-serif;
    font-weight: 700; }
  .req .req__list li::before {
    content: "";
    background: #DBA1AD;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -13px;
    top: 6px;
    border-radius: 50%; }
  .req .req__first-list {
    margin-top: 4px; }
  .req .after_h3 {
    font-size: 14px;
    color: black;
    font-family: "Circe Light", sans-serif;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: -5px;
    margin-bottom: 5px; }
  .req .req__scheme-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 14px; }
    .req .req__scheme-container .req__scheme {
      width: 100%;
      max-width: 413px;
      height: auto; }
  .req .req-tip {
    margin-top: 4px;
    margin-bottom: 12px; }
    .req .req-tip li {
      line-height: 17px; }
  .req .tip-header {
    position: relative; }
  .req .tip-header::before {
    position: absolute;
    left: -18px;
    color: black;
    font-family: "Circe Bold", sans-serif;
    font-size: 16px;
    top: -2px; }
  .req .pink-1::before {
    content: '1'; }
  .req .pink-2::before {
    content: '2'; }
  .req .pink-3::before {
    content: '3'; }

@media screen and (max-width: 1000px) {
  .req .req__scheme-container {
    justify-content: center;
    align-items: center; }

  .req .req__scheme-container .req__scheme {
    margin-top: 20px; } }
@media screen and (max-width: 800px) {
  .req .req__body {
    width: calc(100% - 38px);
    margin-top: 10px;
    border-radius: 7px;
    padding: 5px 10px 0 10px; }

  .req .req__main-header {
    margin-top: 12px;
    font-size: 15px; }

  .req .after_h3 {
    top: 0;
    margin-bottom: 7px;
    line-height: 17px;
    margin-top: 7px; }

  .req .req__first-pink {
    left: 0;
    text-align: center; }

  .req .req__scheme-container {
    margin-top: 0; }

  .req .req__list li {
    width: calc(100% - 17px); }

  .req .tip-header {
    width: calc(100% - 21px); } }
@media screen and (max-width: 576px) {
  .bars {
    display: block;
    font-size: 25px;
    font-weight: 900; }

  .top-header nav a {
    border: none; }

  .menu-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    flex-direction: column;
    text-align: center;
    border-top: 5px solid #000; }

  nav.menu-collapse {
    display: none; }

  .menu-bars .menu__item {
    padding: 15px 0;
    margin: 0; }

  .bot-header .container img {
    max-width: 110px; }

  .container {
    width: 460px; } }
/*480-320*/
@media screen and (max-width: 480px) {
  .bot-header .container img {
    max-width: 80px; }

  .bot-header .container h1 {
    font-size: 21px; }

  .container {
    width: 295px; }

  .f {
    width: 160px; }

  .radio-button .radio-boxs .radio-buttons {
    padding: 0px;
    width: 97px; }

  .box-c {
    padding: 10px 10px; } }

/*# sourceMappingURL=style.css.map */
