{% extends 'base/base.html' %}
    {% load staticfiles %}
    {% load mathfilters %}
    {% block title %}Широкоформатная-печать.москва - авторизация{% endblock title %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'users_app/css/authorization.css' %}">
{% endblock style %}
{% block script %}
        <script type="text/javascript" src="{% static 'base/js/jquery.maskedinput.min.js' %}" charset="UTF-8"></script>
{% endblock script %}

{% block head %}


    <header>
    <div class="top-header">
        <div class="container">
            <div class="" id="bars">
                <a href="#" class="bars"><i class="fas fa-bars"></i></a>
            </div>
            <nav class="menu-collapse menu-bars">
                <a href="https://вакуумная-формовка.москва">вакуумная-формовка.москва</a>
                <a href="https://3d-plakat.ru">3D плакаты</a>

            </nav>
        </div>
    </div>
    <div class="bot-header">
        <div class="container">
            <a href="{% url 'main:basic' %}">
                <img src="{% static 'main/img/logo.png' %}" alt="logo">
            </a>
            <h1>Широкоформатная печать.москва</h1>
        </div>
    </div>
</header>
{% endblock head %}
{% block content %}
<main>
    <div class="container ">
        <div class="form-boxs">

            {% block activation %}
                {% ifequal activate 'success' %}
                    <h1>активация выполнена!</h1>
                {% endifequal %}
                {% ifequal activate 'early' %}
                    <h1>активация учетной записи выполнена ранее </h1>
                {% endifequal %}
                {% ifequal activate 'not_activate' %}
                    <h1>выполните активацию учетной записи </h1>
                {% endifequal %}
                {% ifequal activate 'wrong_user_data' %}
                    <h1>Введенные данные не верны</h1>
                {% endifequal %}
            {% endblock activation %}

            <form action="{% url 'users_app:login' %}" class="auth_form" method="POST"
                  class="post-form">{% csrf_token %}
                <div id="box-order">
                    <h2>Авторизация</h2>
                    <div class="box-c">
                        <div class="flex-col">
                            <div class="c">
                                <div class="cc" id="tab-login">
                                    <label>
                                        <input class="radio" type="radio" name="f1" value="login" id="radio1"
                                               onclick="change_action(this.value)" checked>
                                        <span class="radio-custom"></span>
                                        <span class="label-text-b">уже зарегистрирован</span>
                                    </label>
                                </div>
                                <div class="cc" id="tab-register">
                                    <label>
                                        <input class="radio" type="radio" name="f1" value="signup" id="radio2"
                                               onclick="change_action(this.value)">
                                        <span class="radio-custom"></span>
                                        <span class="label-text">я здесь впервые</span>
                                    </label>
                                </div>
                            </div>
                            <div class="c d-none" id="hid-n">
                                <label for="name" class="o">Имя:</label>
                                <input type="text" class="f input-size" placeholder="Имя Фамилия" id="login_name" name="name">
                            </div>
                            <div class="c d-none" id="hid-ph">
                                <label for="phone" class="o">Телефон:</label>
                                <input type="tel" class="f input-size" placeholder="+7 (123) 456 78 90" id="phone"
                                       name="phone">
                            </div>
                            <div class="c">
                                <label for="email" class="o">E-MAIL:</label>
                                <input type="email" name="username" class="f input-size" placeholder="vasha@pochta.ru"
                                       id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            </div>
                            <div class="c">
                                <label for="pass" class="o">Пароль:</label>
                                <input type="password" name="password" class="f input-size" required pattern="^(?=.*?[a-z]).{8,}$"
                                       placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" id="pass">
                                <div class="icon-show"></div>
                                <div class="hint password-hint hint-hidden"><p>
                                    Длина пароля должна быть не менее 8 символов<br>
                                    Пароль не может состоять только из цифр<br>
                                    Пароль не должен быть слишком простым (qwertyui и т.п)<br>
                                    Пароль не должен быть похожим на e-mail

                                   </p></div>
                            </div>
                            {% if login_error %}
                                <label class="error">{{ login_error }}</label>
                            {% endif %}
                            <div class="send-button">
                                <button type="button" class="send-btn" style="cursor: pointer">Войти</button>
                                <button id="real-submit" type="submit" style="display:none;"></button>
                            </div>
                            <div class="popup email_popup popup-hidden">
                                <div class="popup__main">
                                    <p class="popup__header">ПОДТВЕРДИТЕ СВОЙ E-MAIL</p>
                                    <div class="popup__body">
                                        <div class="popup__thing">
                                            <img src="{% static 'users_app/img/yes.svg' %}" alt="">
                                        </div>
                                        <div class="popup__text">
                                            <p>Запрос на подтверждение отправлен на почту!</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<script type="text/javascript">
  function change_action(name) {
    $('form').attr('action', '/auth/' + name + '/');
  }

  let form_state = 'login';

  document.getElementById('radio1').checked = true;
  document.getElementById('radio2').checked = false;

  document.getElementById('tab-register').onclick = function () {
    document.getElementById('hid-n').classList.remove('d-none');
    document.getElementById('hid-ph').classList.remove('d-none');
    $('#login_name').prop('required',true);
    $('#phone').prop('required',true);
    form_state = 'reg';
  }

  document.getElementById('tab-login').onclick = function () {
    document.getElementById('hid-n').classList.add('d-none');
    document.getElementById('hid-ph').classList.add('d-none');

    $('#login_name').prop('required',false);
    $('#phone').prop('required',false);
    form_state = 'login';
  }

  $('.send-btn').click(function () {
    if ($('.auth_form')[0].checkValidity()){
      let form = $('.auth_form');
    if (form_state === 'reg') {
      $('.email_popup').fadeIn(300).removeClass('popup-hidden').addClass('popup-shown')

      setTimeout(function () {
        form.submit();
        return false;
      }, 3000);
    } else {
      form.submit();
        return false;
    }
    } else {
        $(this).next().click()
    }



  });
  let password_hint = $('.password-hint')
  let pass_field = $('#pass')
  pass_field.focusin(function () {
    password_hint.removeClass('hint-hidden')
    password_hint.addClass('hint-showed')
  })
  pass_field.focusout(function () {
    password_hint.removeClass('hint-showed')
    password_hint.addClass('hint-hidden')
  })
</script>

<script>

  $('.cc').click(function () {
    $('.label-text-b').removeClass().addClass('label-text');
    $(this).children('label').children('.label-text').removeClass().addClass('label-text-b');
  });


  $("#phone").mask("+7 (999) 999 99 99");

  var pass = $('#pass');
  $('.icon-show').click(function () {
    pass.attr('type', pass.attr('type') === 'password' ? 'text' : 'password');
  });
</script>

{% endblock content %}
