<!doctype html>
<html>
    <head>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Crimea rent service</title>
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      	<link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{% static 'main/js/datepicker-ru.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
        <script type="text/javascript">
          $(function(){
            $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
            $('.datepicker').datepicker({
              dateFormat: "dd MM, D",
              minDate:0
            });
          });
        </script>
    </head>

    <body>
    	<div class="nav">
        {% if username %}
        <a href="/edit">{{username}}</a>
        <a href="/become_a_host/">предложить свое жилье</a>
        <a href="/auth/logout/">выйти</a>
        {% else %}
        <a href="/auth/signup/">регистрация</a>
        <a href="/auth/login/">вход</a>
        {% endif %}
    	</div>
      <form method="POST" class="main_form" action="property/">{% csrf_token %}
    	<div class="form">
    		<h1>Текст</h1>
    		<div class="check">
    			<div class="check-top">
    				<span class="active">Текст</span>
    				<span>Текст</span>
    				<span>Текст</span>
    			</div>
    			<div class="check-bot">
    				<span>Текст</span>
    				<span>Текст</span>
    				<span>Текст</span>
    			</div>
    		</div>
    		<div class="city"><span>Другие города</span></div>
    		<div class="c">
    			<label>Прибытие</label>
    			<input class="f datepicker" type="text" placeholder="Выбрать дату..." >
    		</div>
    		<div class="c">
    			<label>Выезд</label>
    			<input class="f datepicker" type="text" placeholder="Выбрать дату..." >
    		</div>
    		<div class="c1" id="m1">
    			<label>Гости</label>
    			<div class="f">
    				<span>Количество гостей</span>
    			</div>

    		</div>

    		<!-- <input type="button" class="btn" value="Начать поиск"> -->
        <button type="submit" class="btn btn-secondary btn-lg aaa">начать поиск</button>
    	</div>
    	<div class="guest" id="guest">
    		<div class="c">
    			<span class="l">Взрослые</span>
    			<span class="r"><span class="m"></span><div>2</div><span class="p"></span></span>
    		</div>
    		<div class="c">
    			<span class="l">Дети<span>Возраст 2-12</span></span>
    			<span class="r"><span class="m"></span><div>1</div><span class="p"></span></span>
    		</div>
    		<div class="c">
    			<span class="l">Младенцы<span>Возраст до 2</span></span>
    			<span class="r"><span class="mm"></span><div>0</div><span class="p"></span></span>
    		</div>
    		<div class="c"><span class="btn">Подтвердить</span></div>

    	</div>
    </form>
    	<div class="ch-city">
    		<h3>Выбрать</h3>
    		<div class="col">
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    		</div>
    		<div class="col">
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    		</div>
    		<div class="col">
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>А</h4>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    				<span>Аааа</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    			<div class="row">
    				<h4>Б</h4>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    				<span>Бббб</span>
    			</div>
    		</div>
    	</div>
    	<script src="script.js"></script>
    </body>
        </html>
