@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


body{
	font-family: 'Roboto', sans-serif;
}
main{
	width: 100%;
	display: flex;
 	justify-content: center;
 	align-items: center;
	height: auto;
    padding-bottom: 10px;

}

main .container{

}

form{
	width: 100%;
}

.f{
	outline: none;
	color: #000;
}

.tab-container{
	width: 100%;
	display:flex;
	justify-content: space-between;
	z-index: 1;
}
.tab{
	text-align: center;
	width:100%;
	height: 95px;
	border-radius: 20px 20px 0 0px;
	background: #fff;
	box-shadow: 0 -9px 8px rgba(0,0,0,0.2);
	padding: 32px 20px 0;
	box-sizing:border-box;
	margin-bottom: -15px;
	z-index: 10;

}
.tab-left__title{
	font-size: 18px;
	text-transform: uppercase;
}

.tab-left__text{
	font-size: 14px;
	color: #d4a5af;
	font-weight: 300;
	margin-top:6px;
}

.tab-right__title{
	font-size: 18px;
	text-transform: uppercase;
}

.tab.hidden{
	background: #d4a5af;
	z-index: 5;
}

.hidden .tab-left__text{
	color:#000;
}

.d-none{
	display: none !important;
}


.box-c{
	width: 100%;
	min-width: 1080px;
	min-height: 445px;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	border-radius: 20px;
	padding: 20px 30px 40px 30px;
	display: flex;
 	justify-content: center;
 	align-items: flex-start;
 	position: relative;
 	z-index: 8;
	margin-bottom: 30px;
}
.flex-col{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 23px;
	max-width: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.flex-col:last-child{
	flex-shrink: 2;
	max-width: 220px;
}
.flex-col .c{
	width: 100%;
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	justify-content: space-between;
	color:#000;
	padding-bottom: 3px;
}


.flex-col .hc{
	width: 100%;
	display: flex;
	align-items: center;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.flex-col .hc h2{
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.01em
}

.flex-col .hc span{
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	color: #e4aebb;
}

.flex-col .c label{
	color: #a5acbe;
	text-transform: uppercase;
	line-height: 1;
	font-size: 11px;
	letter-spacing: 0.1px;
	font-weight: 500;
    white-space: nowrap;
}

.box{
	position: relative;
}
.flex-col .c .box select {
	-webkit-appearance: button;
	outline: none;
}

.radio-button>label{
	margin: 0
}

.f {
	margin: 0;
	padding: 0;
	width: 210px;
	height: 40px;
	border-radius: 15px;
	border: 1.5px solid #e3e3e3;
	background: #f3f3f3;
	padding-left: 10px;
}
.box:before{
	content: '▼';
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
	pointer-events: none;
}
.value-box:before{
    content: '';
}
.hh{
	width: 160px;
}

.hh1{
	width: 300px;
}

.flex-col .c .cc{
	display: flex;
	justify-content: center;
}

.flex-col .c .cc label{
	display: flex;
	align-items: center;
}

.flex-col .c .cc .radio{
	display: none;
}
.flex-col .c .cc .radio-custom {
	position: relative;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: 2px solid #e3e3e3;
	margin-left: 5px;
}

.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	background: #e4aebb;
	border-radius: 100%;
}
.flex-col .l{
	text-transform: lowercase;
	font-size: 10px;
	/*color: #a5acbe;*/
}

.c{
	outline: none
}

.form-boxs{
	min-width: 1080px;
	letter-spacing: 0.02em;
}


.radio-button .radio-boxs .radio-buttons{
	display: inline-block;
	width: 113px;
	height: 43px;
	background: #f3f3f3;
	border: 1.5px solid #e3e3e3;
	padding: 0 10px;
	box-sizing:border-box;
	font-size: 10px;
	line-height: 3.7em;
}

.radio1-btn{
	margin-right: -7px ;
	border-radius: 15px 0 0 15px;
}
.radio2-btn{
	border-radius: 0 15px 15px 0;
}

[name="orientation-type"]:checked + .radio-buttons{
	background: #fff;
	color: #000;
	font-weight: bold;
}

.radio1, .radio2{
	 display: none;
}

.c.textarea-box{
	height: 100%;
	margin-top: 0px;
	color:#000;

}
.input-size{
	color:#000;
}

.input-edit{
	width: 100px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.input-edit:first-child{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-edit:last-child{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.textarea{
	height: 128px;
	line-height: 1.5em;
	vertical-align: top;
	outline: none;
	color:#000;
	width: 100%;
	resize: none;
	padding-top:10px;
}


::-webkit-input-placeholder {color:#c3bebe;}
::-moz-placeholder          {color:#e3e3e3;}/* Firefox 19+ */
:-moz-placeholder           {color:#c3bebe;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c3bebe;}





.file_upload{
	position: relative;
	margin-left: 10px;
}

.flex-col .c .file_upload input[type=file]{
	position: absolute;
	top: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.flex-col .c{
	position: relative;
}
.file_upload:before{
    content: '';
    display: block;
	position: absolute;
	top: 0px;
    right: 0px;
	background: #FFF;
	background-image: url('../img/upload_icon.png') ;
	background-size: 30px 30px ;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 2px solid #e3e3e3;
	border-radius: 0 15px 15px 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
    pointer-events: none;
}
.active-upload .file_upload:before{
	display: none;
}
.active-upload .file-before{
    display: block;
}
.file-before{
	content: '';
    display: none;
	position: absolute;
	top: -9px;
    right: 3px;
	background: #FFF;
	background-image: url('../img/delete_icon.png') ;
	background-size: 30px 30px ;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 2px solid #e3e3e3;
	border-radius: 0 15px 15px 0;
	text-align: center;
	line-height: 40px;
	width: 40px;
	height: 40px;
    cursor: pointer;
}
.flex-col .c .file_upload div{
	color: #000;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 13px;
}
.flex-col .pink{
	width: 100%;
	display: flex;
	flex-direction: column;

}
.flex-col .pink span{
	color: #d4a5af;
	font-size: 14px;
	font-weight: 500;
}
.flex-col .pink .h3{
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0px;
}

.flex-col .pink .check-box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	height: 40px;
}

.flex-col .pink .cc:first-child{
	margin-right: 30px;
}

.flex-col .pink .check-box .cc .radio{
	display: none;
}
.flex-col .pink .check-box .cc .radio-custom{
	position: relative;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	border: 2px solid #e3e3e3;
	margin-left: 5px;
}


.flex-col .pink .check-box .cc label{
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.flex-col .c input[type=textarea]{
	display: block;
	width: 100%;
}

.flex-col .b-t{
	font-size: 10px;
	font-weight: 700;
}

.flex-col .hc span.l1{
	color: #2b2a28;
	font-weight: 400;
	font-size: 10px;
	text-transform: lowercase;
}
.price{
	font-weight: bold;
	font-size: 22px;
	line-height: 1;
	letter-spacing: 0.00em;
    width: auto;
    white-space: nowrap;
}

.c.price-box{
	display: flex;
	align-items:flex-end;
}

.send-button{
	margin-top: 85px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.send-btn{
	display:block;
	text-transform: uppercase;
	width: 170px;
	padding: 12px 0px;
	background: #d4a5af;
	border-radius: 15px;
	text-decoration: none;
	color:#000;
	text-align: center;
	font-size: 13px;
	font-weight:500;
	font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.adder{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.adding{
	text-align: center;
	padding-bottom: 15px;
}

.adding__position{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}


.adding__plus{
	margin: 0 auto;
	margin-top: 5px;
	display:block;
	font-size: 40px;
	color:#fff;
	background: #d4a5af;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-decoration: none;
	font-weight: 100;
}

.tab-left__title span{
	font-size: 14px;
    color: #d4a5af;
    font-weight: 300;
    margin-top: 6px;
    display:none;
	}

option:checked {
	background: pink;
	color: blue;
}
select{
	outline: none;
}

.d-block{
	display:flex !important;
}

.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}
.popup__main{
    height: 216px;
    width: 90%;
    max-width: 380px;
    border-radius: 7px;
    background: #e4aebb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.popup__header{
        text-align: center;
    margin-top: 25px;
    font-family: "Circe Regular", sans-serif;
    font-size: 16px;
}
.popup__body{
    background: white;
    border-radius: 7px;
    display: flex;
    height: 142px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.upload_popup .popup__thing{
    margin-top: 25px;
        width: 85%;
}
.popup__text p{
    font-size: 13px;
    font-family: "Circe Regular", sans-serif;

}
.upload_popup .popup__text p{
    margin-top: 9px;
}
.upload_popup .popup__thing img{
    width: 70px;
}
.popup-shown{
    display: flex!important;
}
.popup-hidden{
    display: none;
}
.upload_popup .popup__thing p{
    text-align: center;
    font-size: 14px;
    color: black;
    font-family: "Circe Regular", sans-serif;
    margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #e4aebb;
    border-radius: 5px;
}

.inner-bar {
  width: 0;
  height: 14px;
  background-color: #cc5f84;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.redirect_popup p{
margin-top: 20px;
}
.windows8 {
	position: relative;
	width: 72px;
	height:72px;
	margin:auto;
    margin-top: 23px;
}

.windows8 .wBall {
	position: absolute;
	width: 68px;
	height: 68px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 5.1425s infinite;
		-o-animation: orbit 5.1425s infinite;
		-ms-animation: orbit 5.1425s infinite;
		-webkit-animation: orbit 5.1425s infinite;
		-moz-animation: orbit 5.1425s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 9px;
	height: 9px;
	background: rgb(228,174,187);
	left:0px;
	top:0px;
	border-radius: 9px;
}

.windows8 #wBall_1 {
	animation-delay: 1.126s;
		-o-animation-delay: 1.126s;
		-ms-animation-delay: 1.126s;
		-webkit-animation-delay: 1.126s;
		-moz-animation-delay: 1.126s;
}

.windows8 #wBall_2 {
	animation-delay: 0.223s;
		-o-animation-delay: 0.223s;
		-ms-animation-delay: 0.223s;
		-webkit-animation-delay: 0.223s;
		-moz-animation-delay: 0.223s;
}

.windows8 #wBall_3 {
	animation-delay: 0.4465s;
		-o-animation-delay: 0.4465s;
		-ms-animation-delay: 0.4465s;
		-webkit-animation-delay: 0.4465s;
		-moz-animation-delay: 0.4465s;
}

.windows8 #wBall_4 {
	animation-delay: 0.6695s;
		-o-animation-delay: 0.6695s;
		-ms-animation-delay: 0.6695s;
		-webkit-animation-delay: 0.6695s;
		-moz-animation-delay: 0.6695s;
}

.windows8 #wBall_5 {
	animation-delay: 0.903s;
		-o-animation-delay: 0.903s;
		-ms-animation-delay: 0.903s;
		-webkit-animation-delay: 0.903s;
		-moz-animation-delay: 0.903s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.hidden-dpi{
    display: none!important;
}
.flex-col .dpi-wrap{
    justify-content: space-around;
}

.requisites {
    width: 100%;
    margin-left: -10px;
    margin-top: 15px;
}
.requisites h3{
    border: none;
    background: transparent;
    text-decoration: underline;
}
.requisites div{
    border: none;
    background: transparent;
}
.requisites h3.ui-state-active{
        border: none;
    background: transparent;
    font-weight: normal;
    color: #454545;
}
.requisites span.ui-icon-triangle-1-s{
    background-image: url(../../base/css/images/ui-icons_444444_256x240.png);
}
.banner-options.hidden{
    display: none;
}

.popup__close{
    position:absolute;
	width: 20px;
    height: 20px;
	border:1px solid pink;
	border-radius:50%;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:0.5625rem 0.5625rem;
	background-image:url('../img/cross-icon.svg');
	z-index:21000;
	cursor:pointer;
    right: 8px;
    top: 8px;
}

/*-----Media Queries-----*/
/*992-1200*/
@media screen and (max-width: 1200px) {

    .container {
        width: 930px;
        padding: 0px 0px;
    }

    .form-boxs {
        margin: 0 auto;
        min-width: 920px;
    }

    .box-c {
        min-width: 920px;
        padding: 20px 15px 30px 10px;
    }

    .flex-col {
        padding-left: 18px;
        padding-right: 20px;
    }

    .f option {
        font-size: 11px;
        width: 190px;
    }

    .radio-button .radio-boxs .radio-buttons {
        width: 105px;
        padding: 0 5px;
    }

    .f {
        width: 190px;
    }

    .f.textarea {
        height: 115px;
        width: 100%;

    }

    .flex-col2{
        padding-right: 27px;
    }

    .bbbb-box{
            width: 55%;
            display: flex;
        }
        .bbbb-box input{
            width: 80px;
        }
}

    /*992-768*/
    @media screen and (max-width: 992px) {
        .box-c {
            display: flex;
            flex-direction: column;
            min-width: 710px;
            padding-left: 15px;
            align-items: center;
        }

        .container {
            width: 720px;
        }

        .form-boxs {
            margin: 0 auto;
            min-width: 710px;
        }

        .send-button {
            margin-top: 10px;
        }

        .tab-left {
            padding-top: 20px;
        }
        .input-edit{
            margin: 6px;
        }
        .flex-col .c{
            height: auto;
            margin-top: -10px;
        }
        .flex-col{
            margin-top: -10px;
        }


        .flex-col .b-t{
            margin-bottom: 20px;
        }
    }

    /*576-480*/
    @media screen and (max-width: 576px) {





        .tab-right__title, .tab-left__title {
            font-size: 16px;
        }

        .box-c {
            display: flex;
            flex-direction: column;
            min-width: 440px;
            padding-left: 15px;
        }

        .container {
            width: 460px;
        }

        .form-boxs {
            margin: 0 auto;
            min-width: 440px;
        }

        .tab {
            padding: 15px 20px 0;
            font-size: 20px;
        }

        .tab-left__text {
            display: none;
        }

    }

    /*480-320*/
    @media screen and (max-width: 480px) {


        .box-c {
            display: flex;
            flex-direction: column;
            min-width: 300px;
            padding: 15px 5px;
        }

        .container {
            width: 295px;
        }

        .form-boxs {
            margin: 0 auto;
            min-width: 300px;
        }

        .tab {
            padding: 15px 20px 0;
            font-size: 20px;
        }

        .f {
            width: 100%;
                position: relative;
    left: -6px;
        }

        .radio-button .radio-boxs .radio-buttons {
            padding: 0px;
            width: 97px;
        }

        .flex-col {
            padding-left: 11px;
            padding-right: 11px;

        }

        .radio2-btn {
            padding-left: 5px;
        }

        .short-label {
            width: 75px;
        }
        .flex-col .c{
            flex-direction: column;
            align-items: center;
        }
        .box{
            margin-top: 13px;
            width: 90%;
        }
        .short-label{
            width: 100%;
        }
        .bbbb-box{
            width: 60%;

        }
        .file_upload{
            margin-top: 10px;
        }
        .f.textarea{
            left: 0;
        }
        .c.price-box{
            flex-direction: row;
            justify-content: flex-start;
        }
        .flex-col .c .box select{
            left: 0;
        }
        .price{
            margin-right: 3px;
        }
        .send-button2{
            justify-content: center;
        }
.flex-col .c .cc {
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-col .c .cc label{
    width: 75%;
}
.box:before{
    z-index: 1;
}
.flex-col .c .cc .radio-custom {
    width: 22px;
    margin-bottom: 4px;
}



    }
