@charset "UTF-8";

$imagedir: 'img/'; // base images path
$fontdir: 'fonts/'; // base fonts path

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background($filename,$repeat: no-repeat) {
  background: transparent url(#{$imagedir}#{$filename}) $repeat;
  background-position: center center;
  background-size: cover;
}

@mixin font($fontname,$fontname-path) {
  @font-face {
    font-family: $fontname;
    src: url('#{$fontdir}#{$fontname-path}.eot');
    src: url('#{$fontdir}#{$fontname-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$fontdir}#{$fontname-path}.woff') format('woff'),
    url('#{$fontdir}#{$fontname-path}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@include font('Circe Extra Light', 'Circe-ExtraLight');
@include font('Circe Extra Bold', 'Circe-ExtraBold');
@include font('Circe Bold', 'Circe-Bold');
@include font('Circe Regular', 'Circe-Regular');
@include font('Gotham Regular', 'GothamPro');
@include font('Gotham Bold', 'GothamPro-Bold');
@include font('Circe Light', 'Circe-Light');

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.container {
  width: 1024px;
  height: 100%;
  margin: 0 auto

}

.top-header {
  width: 100%;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2a28;
  font-weight: 500;
  font-size: 14px;
  margin: 12px 0;
  padding: 3px 15px;
  letter-spacing: 0.1px;
  border-left: 2px solid #e3e3e3;
  font-family: "Circe Bold", sans-serif;
}

.top-header nav a:first-child {
  border-left: none;
}

.top-header nav a:last-child {
  padding-right: 0;
}

.bot-header {
  width: 100%;
  background: #383733;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.bars {
  display: none;
}

.bot-header .container {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: row;
}

.bot-header .container img {
  max-width: 120px;
}

.bot-header .container h1 {
  color: #fdfdfb;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 30px;
  margin-left: 10px;
  font-family: "Circe Extra Light", sans-serif;
}

body {

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

$close_black: #2B2A29;


.status {
  width: 95%;
  max-width: 950px;
  background: #e4aebb;
  border-radius: 10px;
  margin-top: -13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .status__main-header {
    font-size: 12px;
    text-align: center;
    font-family: "Circe Light", sans-serif;
    color: $close_black;
    font-weight: 700;
    margin-top: 20px;
  }
  .status__progress {
    width: 90%;
    max-width: 820px;
    margin-bottom: -1px;
    position: relative;
    &:after{
      @include pseudo();
      content: '1 ГОД';
      color: white;
      font-family: "Circe Bold", sans-serif;
      font-size: 8px;
          right: -29px;
    bottom: 59px;
    }
    > h3 {
      text-align: center;
      color: $close_black;
      font-family: "Circe Bold", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 3px;
      span {
        color: white;
      }
    }
  }
  .progress-main {
    position: relative;
    margin-top: -4px;
    height: 125px;
  }
  .progress-wrap{
   width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

  }
  .progress-main__bar {
    width: 100%;
    background: white;
    height: 38px;
    border-radius: 19px;
    position: relative;
    top: -4px;


  }
  .progress-main__tips {
    width: 100%;
    position: relative;
    height: 45px;
  }
  .tips__sale {
    position: absolute;
    left: 20px;
    top: 0;
    > p:nth-child(1) {
      font-size: 9px;
      font-family: "Circe Extra Bold", sans-serif;
      color: $close_black;
      text-align: center;
      text-transform: uppercase;
      span {
        font-size: 13px;
      }

    }
    > p:nth-child(2) {
      font-size: 11px;
      font-family: "Circe Regular", sans-serif;
      color: white;
      text-align: center;
      position: relative;
      top: -4px;
      &:before {
        position: absolute;
        display: block;
        @include background('down-arrow.svg');
        content: '';
        width: 8px;
        height: 8px;
        left: calc(50% - 4px);
        bottom: -6px;
      }
      &:after {
        border-right: 1px dotted #d1d3d4;
        content: '';
        position: absolute;
        height: 38px;
        bottom: -48px;
        z-index: 2;
        left: 50%;
      }

    }
  }
  .sale-3 {
    left: 3.2%;
  }
  .sale-7 {
    left: 19.7%;
  }
  .sale-13 {
    left: 65.9%;
  }
  .progress-main__bar::before {
    position: absolute;
    display: block;
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background: #c85e85;
    border-radius: 19px 0 0 19px;
    content: '';
  }
  .progress-main__current-sum {
    position: absolute;
    white-space: nowrap;
    text-align: center;
    span {
      position: relative;
      left: -50%;
      font-family: 'Gotham Bold', sans-serif;
      font-size: 18px;
      color: black;
      top: 9px;
      font-weight: 800;
      &:before{
        @include pseudo();
        @include background('down-arrow-black.svg');
        transform: rotate(180deg);
        width: 8px;
        height: 8px;
        left: calc(50% - 4px);
        top: -9px;

      }
      b{
        font-weight: 100;
      }
    }
  }
  .status__order-container{
        width: calc(100% - 84px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 27px;
  }
  .status__order-wrap{
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 18px 30px;
    margin-top: 19px;

    hr{
      display: none;
    }
  }
  .order__main-header{
    font-size: 16px;
    color: $close_black;
    font-family: "Circe Regular", sans-serif;
    text-transform: uppercase;
  }
  .order__scroll-wrap{
    width: 107%;
    display: flex;
  }
  .status__order{
    width: 100%;
    border-collapse: collapse;
     border-spacing: 0 8px;
    .order__cell{
      text-align: center;
      padding-bottom: 11px;
    }
    > tbody >tr:nth-child(2n){
      border-bottom: 2px solid #d1d3d4;
    }
    > tbody >tr:nth-child(2n+1) .order__cell{
      padding-top: 17px;
    }
    > tbody >tr:last-child{
      border-bottom: none;
    }
    > tbody >tr:last-child .order__cell{
      padding-bottom: 0;
    }
    > tbody >tr:first-child .order__cell{
      padding-top: 0;
    }
    .order__num, .order__full-name{
      width: 44.5%;
      text-align: left;
    }
    .order__file-name{
      width: 16%;
    }
    .order__value{
      width: 12.5%;
    }
    .order__cost{
      width: 10%;
    }
    .order__repeat{
      width: 33%;
      position: relative;
    }
    .order__num{
      font-family: "Circe Regular", sans-serif;
      color: $close_black;
      font-size: 12px;
      font-weight: 800;
      span{
        color: #E4AFBA;
        font-size: 13px;
      }
    }

    .order__file-name, .order__value, .order__full-name{
      font-family: "Circe Regular", sans-serif;
      color: $close_black;
      font-size: 14px;
    }
    .order__cost{
       font-family: "Gotham Bold", sans-serif;
      color: $close_black;
      font-size: 19px;
      font-weight: 800;
      span{
        position: relative;
        top: -3px;
        white-space: nowrap;
      }
      b{
        font-size: 15px;
      }
    }
    .column-name{
      font-family: "Circe Bold", sans-serif;
      font-size: 8px;
      text-transform: uppercase;
      color: #A5ACBD;
    }
    .cell__repeat-btn{
      width: 100%;
      max-width: 100px;
      height: 33px;
      background: #e4aebb;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 13px;
      position: absolute;
          top: -10px;
    left: calc(50% - 50px);
      p{
        font-size: 11px;
        font-family: "Circe Bold", sans-serif;
        font-color: $close_black;
        text-transform: uppercase;
      }
    }
  }
  .archive{
    margin-bottom: 14px;
  }


}
@media screen and (max-width: 900px) {
  .status .status__order .order__num, .status .status__order .order__full-name{
    width: 28.5%;
  }
  .status .status__order .order__file-name{
    width: 20%;
  }
  .status .status__order .order__value{
    width: 16.5%;
  }
  .status .status__order .order__cost{
    width: 14%;
  }
  .status .status__order .order__repeat{
    width: 37%;
  }
  .status .status__order .cell__repeat-btn{
    top: 0;
  }
  .status .order__scroll-wrap{
    display: block;
    overflow-x: scroll;
    width: 100%;
    border-radius: 10px;
    margin-top: 19px;
  }
  .status .status__order-wrap{
    min-width: 570px;
    border-radius: 0;
    margin-top: 0;
  }
  .status .status__order-container{
        width: calc(100% - 23px);
  }
  .status .progress-main__current-sum span{
    font-size: 12px;
  }
  .status .status__main-header{
    font-size: 13px;
  }
  .status .status__progress > h3{
    font-size: 13px;
  }
  .status .progress-main{
        margin-top: 15px;
    min-width: 600px;
    height: 125px;
  }
  .status .tips__sale > p:nth-child(2){
    top: 0;
  }
  .status .status__progress:after{
    display: none;
  }
}


@media screen and (max-width: 576px) {

  .bars {
    display: block;
    font-size: 25px;
    font-weight: 900;
  }

  .top-header nav a {
    border: none;
  }

  .menu-collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    flex-direction: column;
    text-align: center;
    border-top: 5px solid #000;
  }

  nav.menu-collapse {
    display: none;
  }

  .menu-bars .menu__item {
    padding: 15px 0;
    margin: 0;
  }

  .bot-header .container img {
    max-width: 110px;
  }

  .container {
    width: 460px;
  }
}

/*480-320*/
@media screen and (max-width: 480px) {

  .bot-header .container img {
    max-width: 80px;
  }

  .bot-header .container h1 {
    font-size: 21px;
  }

  .container {
    width: 295px;
  }

  .f {
    width: 160px;
  }

  .radio-button .radio-boxs .radio-buttons {
    padding: 0px;
    width: 97px;
  }
  .box-c {
    padding: 10px 10px;
  }

}
