
@font-face {
font-family: 'Roboto Thin';
src: url('../fonts/Roboto-Thin.eot');
src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Thin.woff') format('woff'),
url('../fonts/Roboto-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Roboto Medium';
src: url('../fonts/Roboto-Medium.eot');
src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Roboto-Medium.woff') format('woff'),
url('../fonts/Roboto-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{
	color: #2b2a28;
	background: #f8f8f8;
}
header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hidden{
	display: none !important;
}

.container{
	width: 1024px;
	height: 100%;
	margin: 0 auto

}
.top-header{
	width: 100%;
	background: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.top-header nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.top-header nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #2b2a28;
    font-family: "Roboto Medium", sans-serif;
	font-size: 14px;
	margin: 12px 0;
	padding: 3px 15px;
	letter-spacing: 0.1px;
	border-left: 2px solid #e3e3e3;
}
.top-header nav a:first-child{
	border-left: none;
}
.top-header nav a:last-child{
	padding-right: 0;
}
.bot-header{
	width: 100%;
	background: #383733;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.bars{
	display:none;
    color: #383733;
    cursor: pointer;
}

.bot-header .container{
	display: flex;
	align-items: center;
	flex-direction: row;
}
.bot-header .container img{
	max-width: 120px;
}
.bot-header .container h1{
	color: #fdfdfb;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 30px;
	margin-left: 10px;
    font-family: "Roboto Thin", sans-serif;
}
.d-block {
    display: flex !important;
}
@media screen and (max-width: 1200px){

	.container{
		width: 930px;

	}

}
@media screen and (max-width:992px){
	.container{
		width: 720px;
	}
}

/*576-480*/
@media screen and (max-width:576px){






	.container{
		width: 460px;
	}
}
@media screen and (max-width: 576px) {
    .container{
		width: 295px;
	}

        .bars {
            display: block;
            font-size: 25px;
            font-weight: 900;
        }

        .top-header nav a {
            border: none;
        }

        .menu-collapse {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: auto;
            text-align: center;
            border-top: 5px solid #000;
        }

        nav.menu-collapse {
            display: none;
        }

        .menu-bars .menu__item {
            padding: 15px 0;
            margin: 0;
        }

        .bot-header .container img {
            max-width: 110px;
        }
    }

    /*480-320*/
    @media screen and (max-width: 480px) {

        .bot-header .container img {
            max-width: 80px;
        }

        .bot-header .container h1 {
            font-size: 20px;
        }
    }